.dropdown-menu.notifications.arrow-right-img::after {
  right: 22px; }

.left {
  float: left;
}

.cont-notifications a{
  display: initial;
  color: initial;
  padding: 0;; 
}

.navbar .pull-right > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu.pull-right .notifications:before{
  left: auto;
  right: 17px;
}

.navbar .pull-right > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu.pull-right .notifications:after{
  left: auto;
  right: 18px;
}

.navbar-nav.navbar-right > li > .dropdown-menu.notifications {
  width: 420px;
  right: -1px;
  margin-top: -1px; }
  .navbar-nav.navbar-right > li > .dropdown-menu.notifications h1 {
    color: #ff671b;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    font-family: HelveticaRoman;
    padding: 0 0 15px 20px;
    margin-bottom: 0; }
  .navbar-nav.navbar-right > li > .dropdown-menu.notifications .cont-notifications {
    height: 220px;
    position: relative;
    overflow: hidden; }
  .navbar-nav.navbar-right > li > .dropdown-menu.notifications .item {
    padding: 10px 0 10px 50px;
    border-top: 1px solid #ccc; }
    .navbar-nav.navbar-right > li > .dropdown-menu.notifications .item:first-child {
      border-top: 0; }
    .navbar-nav.navbar-right > li > .dropdown-menu.notifications .item h2 {
      font-size: 14px;
      font-family: HelveticaRoman;
      margin: 0;
      color: #949499; }
    .navbar-nav.navbar-right > li > .dropdown-menu.notifications .item .left {
      margin: 0 5px 20px 0; }
    .navbar-nav.navbar-right > li > .dropdown-menu.notifications .item .text {
      color: #323233;
      display: block; }
    .navbar-nav.navbar-right > li > .dropdown-menu.notifications .item .time {
      color: #949499;
      font-size: 12px;
      display: block; }
  .navbar-nav.navbar-right > li > .dropdown-menu.notifications .cont-button {
    border-top: 1px solid #ccc; }
    .navbar-nav.navbar-right > li > .dropdown-menu.notifications .cont-button button {
      margin: 10px auto 5px auto;
      display: block; }
  .navbar-nav.navbar-right > li > .dropdown-menu.notifications .item.event .name {
    color: #6f52db; }
  .navbar-nav.navbar-right > li > .dropdown-menu.notifications .item.message .name {
    color: #81cc47; }
  .navbar-nav.navbar-right > li > .dropdown-menu.notifications .item.task .name {
    color: #e61523; }

.dropdown-menu.notifications.arrow-right-img::after {
  right: 22px; }

.dropdown-menu.notifications {
  width: 420px;
  right: -1px;
  border-radius: 0px;
  margin-top: -1px; }
  .dropdown-menu.notifications h1 {
    color: #ff671b;
    font-size: 16px;
    font-family: HelveticaRoman;
    padding: 3px 0 15px 20px;
    margin-bottom: 0;
    font-weight: normal;
    border-bottom: 1px solid #ccc; }
  .dropdown-menu.notifications .cont-notifications {
    height: 220px;
    position: relative;
    overflow: hidden; }
  .dropdown-menu.notifications .item {
    padding: 10px 0 10px 50px;
    border-top: 1px solid #ccc; }
    .dropdown-menu.notifications .item:first-child {
      border-top: 0; }
    .dropdown-menu.notifications .item h2 {
      font-size: 14px;
      font-family: HelveticaRoman;
      margin: 0;
      color: #949499; }
    .dropdown-menu.notifications .item .left {
      margin: 0 5px 20px 0; }
    .dropdown-menu.notifications .item .text {
      color: #323233;
      display: block;
      font-size: 14px; }
    .dropdown-menu.notifications .item .time {
      color: #949499;
      font-size: 12px;
      display: block; }
  .dropdown-menu.notifications .cont-button {
    border-top: 1px solid #ccc; }
    .dropdown-menu.notifications .cont-button button {
      margin: 10px auto 5px auto;
      display: block; }
  .dropdown-menu.notifications .item.event .name {
    color: #6f52db; }
  .dropdown-menu.notifications .item.message .name {
    color: #81cc47; }
  .dropdown-menu.notifications .item.task .name {
    color: #e61523; }

.spr {
  background: url("/assets/v2/img/sprite.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translatez(0);
  transform: translatez(0); }

.ico-notification-calendar {
  width: 17px;
  height: 16px;
  background-position: -1px -173px; }

.ico-notification-message {
  width: 16px;
  height: 15px;
  background-position: -19px -174px; }

.ico-notification-task {
  width: 17px;
  height: 15px;
  background-position: -36px -173px; }