tr.warning td {
  background: #fcf8e3 !important;
  text-align: center; }

label[for="video_session_scheduled_end"], label[for="video_session_scheduled_for"] { 
  display: block !important; clear: both;
}

[name $='hour\]']{
  margin-left: 20px
}

[name^='video_session[scheduled_'] {
  width: 80px; 
  float: left;
}

.text-red {
  color: #CC131F; }
  .text-red:hover {
    color: #E61523; }

.text-orange {
  color: #E65D18; }
  .text-orange:hover {
    color: #FF671B; }

.text-yellow {
  color: #E6BB0F; }
  .text-yellow:hover {
    color: #FFCF11; }

.text-lightgreen {
  color: #71B33E; }
  .text-lightgreen:hover {
    color: #81CC47; }

.text-green {
  color: #009968; }
  .text-green:hover {
    color: #00B379; }

.text-lightblue {
  color: #00B3A7; }
  .text-lightblue:hover {
    color: #00CCBE; }

.text-blue {
  color: #273691; }
  .text-blue:hover {
    color: #2E40AD; }

.text-violet {
  color: #5A4099; }
  .text-violet:hover {
    color: #694BB3; }

.text-purple {
  color: #CC085A; }
  .text-purple:hover {
    color: #E60965; }

.text-darkblue {
  color: #121966; }
  .text-darkblue:hover {
    color: #161F80; }

.video_session-nav {
  margin-bottom: 0; }

.video_session-tab_container {
  margin: 20px 0;
}

.list_icon {
  width: 12px;
  height: 12px;
  margin: 4px 0 0 6px;
  display: block;
  cursor: pointer; }

.video_session_status {
  border-radius: 50%; }
  .video_session_status.pending {
    background-color: #F3CD89; }
  .video_session_status.started {
    background-color: #89CF7F; }
  .video_session_status.ended {
    background-color: #F38989; }

.video_session_visibility {
  background-size: cover !important; }
  .video_session_visibility.public {
    background: url(../../img/public.svg) center center no-repeat; }
  .video_session_visibility.private {
    background: url(../../img/private.svg) center center no-repeat; }

.usersSelection {
  display: none; }

.contUsers {
  background: #fff;
  margin: 10px 0;
  border-radius: 3px;
  padding: 10px;
  height: 100px;
  overflow-y: auto;
  color: #444; }
  .contUsers .student {
    width: 245px;
    float: left;
    border-radius: 3px;
    font-size: 13px;
    margin: 0 10px 10px 0;
    cursor: pointer; }
    .contUsers .student .info {
      padding: 3px 5px;
      border: solid 1px #ddd;
      border-top: solid 4px #bbb;
      border-radius: 3px; }
    .contUsers .student.selected .info {
      background: #E7F2FA;
      border: solid 1px #4486B3;
      border-top: solid 4px #4486B3; }
    .contUsers .student:hover .info {
      border: solid 1px #6BA6CE;
      border-top: solid 4px #6BA6CE; }

#signin-button {
  padding: 10px 10px 0;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 10px 0; }

.hangout_actions div {
  vertical-align: middle !important; }

.btn img {
  margin-right: 5px; }


#modal-participants-container {
    max-height: 300px;
    overflow: auto;
    margin: 10px 0 30px 0;    
}

#modal-participants-container table {
    width: 100%;
}

#modal-participants-container table th {
    background: #E74C3C;
}

#modal-participants-container table td.no-participants {
    text-align: center;
    height: 150px;
    vertical-align: middle;
}