/* 
 * Kuepa Project - Plataforma v2.0.0
 *
 * Copyright 2013 Pablo Rossi
 *
 * Designed and built with all the egg in the world by @pol_r 
 * Special thanks and love to Twitter Bootstrap, @mdo and @fat. 
 *
 */
 

 /* --------------------------------------------------
    John Doe Styles
-------------------------------------------------- */

.bogota-social{
  display: none;
}

.dashboard-left .open > .dropdown-menu{
  max-height: 400px;
  overflow-y: auto;
}

.subject-item.blocked{
  opacity: 0.5;
}

.slide{
    display: none;
    color: white;
    font-size: 22px;
    position: relative;
    z-index: 9999;
    width: 550px;
    text-align: center;
    margin: 150px auto 0;
  }
  
.slide-title {
  font-family: HelveticaBd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 1.1;
  margin: 20px 0;
}
.slide-main, .slide-main form {
  font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
}
.slide-small .slide-title {
  font-size: 28px;
  line-height: 1.1;
  margin: 10px 0;
}
.slide-small .slide-main {
  margin-bottom: 20px;
}

.slide .arrow {
  background-image:url("../../img/brushes.svg");
  background-repeat:no-repeat;
  background-color: transparent;
}

.slide.slide2 {
    margin: 220px 0 0 390px;
    width: 400px;
    text-align: left;
}
.slide.slide2 .arrow {
  background-position:0px 0px; 
  width: 80px;
  height: 40px;
  position: absolute;
  margin: 0px 0 0 -86px;
}

.slide.slide3 {
    margin: 0;
    width: 340px;
    text-align: right;
    position: absolute;
    right: 400px;
    top: 67px;
}
.slide.slide3 .arrow {
  background-position:0 -40px; 
  width: 80px;
  height: 40px;
  position: absolute;
  right: -90px;
  top: -12px;
}

.slide.slide4 {
    right: 0;
    left: 0;
    padding: 30px 220px;
    bottom: 0px;
    position: absolute;
    background-color: rgba(0,0,0,0.855);
    margin: 0px;
    width: auto;
}



/* --------------------------------------------------
    Modal Windows
-------------------------------------------------- */
.modalwindow {

}

/* --------------------------------------------------
    Buttons From Aerolab _buttons.scss
-------------------------------------------------- */

.btn {
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 13px 20px 10px;
  transition: all 0.1s  ease-in-out;
  outline: none; }

.btn-primary {
  font-size: 16px; }

.btn-large {
  font-size: 20px;
  padding: 15px 30px 12px;
}

.btn-small {
  height: 34px;
  line-height: 24px; }

.btn-tiny {
  height: 26px;
  padding: 1px 15px 0 15px;
  font-size: 12px;
  line-height: 25px; }

.btn-inside {
  height: 30px;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  text-align: center;
  outline: none; }

.btn-gray {
  background-color: #a9a9ad; }
  .btn-gray:hover {
    background-color: #b9b9bc; }
  .btn-gray:active {
    background-color: #7d7d83; }

.btn-gray-light {
  background-color: #e3e3e3; }
  .btn-gray-light:hover {
    background-color: #b9b9bc; }
  .btn-gray-light:active {
    background-color: #7d7d83; }

.btn-orange {
  background-color: #ff671b; }
  .btn-orange:hover {
    background-color: #ff712a;
    color: #fff; }
  .btn-orange:active {
    background-color: #ff5d0c; }

.btn-primary {
  
}


 /* --------------------------------------------------
// Added Font Styles
-------------------------------------------------- */
html, html a {
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: HelveticaHv;
    src: url(../fonts/HelveticaNeueLTStd-Hv.otf);
}
@font-face {
    font-family: HelveticaMd;
    src: url(../fonts/HelveticaNeueLTStd-Md.otf);
}
@font-face {
    font-family: HelveticaBd;
    src: url(../fonts/HelveticaNeueLTStd-Bd.otf);
}
@font-face {
    font-family: HelveticaRoman;
    src: url(../fonts/HelveticaNeueLTStd-Roman.otf);
}
@font-face {
    font-family: HelveticaLt;
    src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
}

body {
  font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 100px;
  color: #404042;
}

a:hover {
  text-decoration: none;
}
p {
    line-height: 1.6;}
h1,h2,h3,h4, .title1, .title2, .title3, .title4
{line-height:1; font-family: HelveticaBd, "Helvetica Neue", Helvetica, Arial, sans-serif;}

.HelveticaLt {font-family: HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.HelveticaRoman {font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.HelveticaMd {font-family: HelveticaMd, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.HelveticaBd {font-family: HelveticaBd, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.HelveticaHv {font-family: HelveticaHv, "Helvetica Neue", Helvetica, Arial, sans-serif;}


::-webkit-scrollbar {
    width: 10px;
    background: rgba(169,169,169,0.2); 
  }
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(169,169,173,0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(169,169,173,0.7);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(169,169,173,0.3);
    border-radius: 6px;
}


.sb-alpha::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }
.sb-alpha::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.35); 
    border-radius: 10px;
}
.sb-alpha::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255,255,255,0.7);
}
.sb-alpha::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.9);
}
.sb-alpha::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.35); 
}

/* --------------------------------------------------
// modal
-------------------------------------------------- */
.modal-backdrop {
  background-color: #162230;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.92;
  filter: alpha(opacity=92);
}
.nav-menu-modal {
  background-color: transparent;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.nav-menu-modal {
  width: 700px;
  margin: -250px 0 0 -350px
}
.nav-menu-modal ul {
  text-align: center;
  width: 100%;
}
.nav-menu-modal ul li {
  display: inline-block;
  width: 128px;
  height: 128px;
  padding:10px;
  text-align: center;
  font-size: 18px;
}
.nav-menu-modal a {
  color: #000;
}
.nav-menu-modal a i {
  width: 128px;
  height: 128px;
  display: inline-block;
}
.nav-menu-modal .nmb-ini a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll 0px 0px transparent;
}
.nav-menu-modal .nmb-cal a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -128px 0px transparent;
}
.nav-menu-modal .nmb-msg a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -256px 0px transparent;
}
.nav-menu-modal .nmb-tar a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -384px 0px transparent;
}
.nav-menu-modal .nmb-mat a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll 0px -128px transparent;
}
.nav-menu-modal .nmb-dsh a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -128px -128px transparent;
}
.nav-menu-modal .nmb-prf a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -256px -128px transparent;
}
.nav-menu-modal .nmb-ajs a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -384px -128px transparent;
}

/* --------------------------------------------------
// navbar
-------------------------------------------------- */

.navbar{
  z-index: 999;
  min-width: 860px;
}

.navbar .nav {
  font-size: 18px;
}
.navbar .nav > li > a {
  padding:0px;
  transition:all 0.2s ease-in-out;
  cursor:pointer;
}
.navbar .nav > li  {
  border-right: 1px solid #E5E5EB;
}
.navbar .nav-logo {
  padding: 0 20px;
  float: left;
  display: block;
  background: url("../../img/svgSprite.svg") no-repeat scroll 10px 0 transparent;
  width: 148px;
  height: 50px;
}
.navbar .nav .nav-menu {
  padding: 0px;
  display: block;
}
.navbar .nav > li > a.nav-menu-icon {
  padding: 15px;
}
.navbar .nav > li > a.nav-menu-icon:hover {
  background-color: #FF671B;
}
.navbar-inner {
  background-color: rgba(255,255,255,0.97)
}

.nav-menu-icon::before {
  display: inline-block;
  vertical-align: -4px;
  width: 24px;
  height: 3px;
  background: #ccc;
  box-shadow: 0 3px white, 0 -6px #ccc, 0 -9px white, 0 -12px #ccc;
  content: '';
  transition: all 0.2s ease-in-out;
}

.nav-menu-icon:hover::before {
  display: inline-block;
  vertical-align: -4px;
    width: 24px;
    height: 3px;
    background: #fff;
    box-shadow: 0 3px #E86823, 0 -6px #fff, 0 -9px #E86823, 0 -12px #fff;
    content: '';
}
.nav-menu-icon span {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}

.plataforma-nav .nav.pull-right,
.navbar-fixed-top .nav.navbar-right {
  border-left: 1px solid #E5E5EB;
}
.plataforma-nav .nav.pull-right li:last-child a {
}
.plataforma-nav .nav.pull-right li a.nav-btn i {
  display: inline-block;
  vertical-align: -20px;
  width: 50px;
  height: 50px;
}
.plataforma-nav .nav.pull-right li a:hover {
  background-color: #efefef;
}
.nav-btn-srch i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -320px 0 transparent;
}
.nav-btn-srch:hover i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -320px -50px transparent;
}
.nav-btn-ntfc i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -270px 0 transparent;
}
.nav-btn-prfl i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -369px 0 transparent;
}
.nav-btn-prfl .caret {
  margin: 20px 20px 0 0;
}
.nav-btn-path i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -519px -50px transparent;
}
.nav-btn-path:hover i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -519px 0px transparent;
}


/* Nav Main Central Buttons */
.navbar .nav.nav-mainbtn {
  border-left: 1px solid #E5E5EB;
}
.navbar .nav.nav-mainbtn li a {
  color: #C7C7CC;
  float: left;
  font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: auto;
  height: 30px;
  padding: 17px 16px 3px 14px;
  transition: all 0.2s ease-in-out;
} 
.navbar .nav.nav-mainbtn .active a,
.navbar .nav.nav-mainbtn a:hover {
  color: #333;
  background-color: #f6f6f6;
}
.nav-mainbtn i {
  display: inline-block;
  vertical-align: -20px;
  width: 50px;
  height: 50px;
  margin: -20px -3px 0px -10px;
}
.nav-mainbtn .nmb-mat i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -169px -50px transparent;
  width: 53px;
}
.nav-mainbtn .nmb-mat.active i,
.nav-mainbtn .nmb-mat a:hover i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -169px 0 transparent;
}

.nav-mainbtn .nmb-ins i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -221px -51px transparent;
  width: 48px;
}
.nav-mainbtn .nmb-ins.active i, 
.nav-mainbtn .nmb-ins a:hover i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -221px -1px transparent;
}
.nav-mainbtn .nmb-tut i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -472px -51px transparent;
  width: 47px;
}
.nav-mainbtn .nmb-tut.active i, 
.nav-mainbtn .nmb-tut a:hover i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -472px -1px transparent;
}


.nav-btn-prfl {
  font-size: 15px;
}




.learning-path {
  background-color: #E4E4E4;
  border-top: 10px solid #DB0962;
  margin-top: 10px;
}

.cbp-path-item .cbp-path-item-image img{
  max-width: 36px;
  max-height: 40px;
}

.path-steps {
  background-color: #333333;
  padding: 20px 0 10px;
}
.path-steps ul li {
  padding: 9px 15px 5px;
  border-bottom: 1px solid #1F1F1F;
}
.path-steps ul li:hover {
  background-color: #fff;
  cursor: pointer;
  color: #DB0962;
}
.path-steps ul li a {
  color: #8C8C8C;
  text-decoration: none;
}
.path-steps ul li a:hover {
  color: #DB0962;
}

.path-steps .active {
  background-color: #1F1F1F;
  color:#fff;
}
.path-content {
  padding: 50px 0 20px 20px;
}

.notes input {
  padding: 10px 6px;
  font-size: 16px;
}
.notes ul {
  border-top: 1px dashed #666;
  margin-top: 10px;
}
.notes ul li {
  padding: 15px 0 10px;
  border-bottom: 1px dashed #aaa;
}
