/* 
 * Kuepa Project - Plataforma v2.0.0
 *
 * Copyright 2013 Pablo Rossi
 *
 * Designed and built with all the egg in the world by @pol_r 
 * Special thanks and love to Twitter Bootstrap, @mdo and @fat. 
 *
 */
 
 /* --------------------------------------------------
// Added Font Styles
-------------------------------------------------- */


@font-face {
    font-family: HelveticaHv;
    src: url(../fonts/HelveticaNeueLTStd-Hv.otf);
}
@font-face {
    font-family: HelveticaMd;
    src: url(../fonts/HelveticaNeueLTStd-Md.otf);
}
@font-face {
    font-family: HelveticaRoman;
    src: url(../fonts/HelveticaNeueLTStd-Roman.otf);
}
@font-face {
    font-family: HelveticaLt;
    src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
}

body {
  font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 100px;
  color: #000;
}

a:hover {
  text-decoration: none;
}
p {line-height:1.6;}
h1,h2,h3,h4, .title1, .title2, .title3, .title4
{line-height:1; font-family: HelveticaHv, "Helvetica Neue", Helvetica, Arial, sans-serif;}

.HelveticaLt {font-family: HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.HelveticaRoman {font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.HelveticaMd {font-family: HelveticaMd, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.HelveticaHv {font-family: HelveticaHv, "Helvetica Neue", Helvetica, Arial, sans-serif;}


/* --------------------------------------------------
// modal
-------------------------------------------------- */
.modal-backdrop {
  background-color: #fff;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.92;
  filter: alpha(opacity=92);
}
.nav-menu-modal {
  background-color: transparent;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.nav-menu-modal {
  width: 700px;
  margin: -250px 0 0 -350px
}
.nav-menu-modal ul {
  text-align: center;
  width: 100%;
}
.nav-menu-modal ul li {
  display: inline-block;
  width: 128px;
  height: 128px;
  padding:10px;
  text-align: center;
  font-size: 18px;
}
.nav-menu-modal a {
  color: #000;
}
.nav-menu-modal a i {
  width: 128px;
  height: 128px;
  display: inline-block;
}
.nav-menu-modal .nmb-ini a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll 0px 0px transparent;
}
.nav-menu-modal .nmb-cal a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -128px 0px transparent;
}
.nav-menu-modal .nmb-msg a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -256px 0px transparent;
}
.nav-menu-modal .nmb-tar a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -384px 0px transparent;
}
.nav-menu-modal .nmb-mat a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll 0px -128px transparent;
}
.nav-menu-modal .nmb-dsh a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -128px -128px transparent;
}
.nav-menu-modal .nmb-prf a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -256px -128px transparent;
}
.nav-menu-modal .nmb-ajs a i {
  background: url("../../img/svgButtons.svg") no-repeat scroll -384px -128px transparent;
}

/* --------------------------------------------------
// navbar
-------------------------------------------------- */

.navbar{
  z-index: 1000;
}

.navbar .nav {
  font-size: 18px;
}
.navbar .nav > li > a {
  padding:0px;
}
.navbar .nav > li  {
  border-right: 1px solid #ccc;
}
.navbar .nav-logo {
  padding: 0 20px;
  float: left;
  display: block;
  background: url("../../img/svgSprite.svg") no-repeat scroll 10px 0 transparent;
  width: 90px;
  height: 50px;
}
.navbar .nav .nav-menu {
  padding: 0px;
  display: block;
}
.navbar .nav > li > a.nav-menu-icon {
  padding: 15px;
}
.navbar .nav > li > a.nav-menu-icon:hover {
  background-color: #E86823;
}

.nav-menu-icon::before {
  display: inline-block;
  vertical-align: -4px;
  width: 24px;
  height: 3px;
  background: #ccc;
  box-shadow: 0 3px white, 0 -6px #ccc, 0 -9px white, 0 -12px #ccc;
  content: '';
}

.nav-menu-icon:hover::before {
  display: inline-block;
  vertical-align: -4px;
    width: 24px;
    height: 3px;
    background: #fff;
    box-shadow: 0 3px #E86823, 0 -6px #fff, 0 -9px #E86823, 0 -12px #fff;
    content: '';
}
.nav-menu-icon span {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}

.plataforma-nav .nav.pull-right {
  border-left: 1px solid #ccc;
}
.plataforma-nav .nav.pull-right li a.nav-btn i {
  display: inline-block;
  vertical-align: -20px;
  width: 50px;
  height: 50px;
}
.plataforma-nav .nav.pull-right li a:hover {
  background-color: #efefef;
}
.nav-btn-srch i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -260px 0 transparent;
}
.nav-btn-srch:hover i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -260px -50px transparent;
}
.nav-btn-ntfc i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -210px 0 transparent;
}
.nav-btn-prfl i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -310px 0 transparent;
}
.nav-btn-prfl .caret {
  margin: 20px 20px 0 0;
}


/* Nav Main Central Buttons */
.navbar .nav.nav-mainbtn {
  border-left: 1px solid #ccc;
}
.navbar .nav.nav-mainbtn li a {
  color: #e1e1e1;
  float: left;
  padding: 0px 18px 0px 5px;
} 
.navbar .nav.nav-mainbtn .active a,
.navbar .nav.nav-mainbtn a:hover {
  color: #333;
  background-color: #f6f6f6;
}
.nav-mainbtn i {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: -20px;
}
.nav-mainbtn .nmb-mat i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -110px -50px transparent;
}
.nav-mainbtn .nmb-mat.active i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -110px 0 transparent;
}
.nav-mainbtn .nmb-ins i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -160px -50px transparent;
}
.nav-mainbtn .nmb-ins.active i, 
.nav-mainbtn .nmb-ins a:hover i {
  background: url("../../img/svgSprite.svg") no-repeat scroll -160px 0 transparent;
}


/* --------------------------------------------------
// Footer
-------------------------------------------------- */
footer {
  background-color: #F5F5F5;
  border: 0 none;
  padding: 25px 0 20px;
  margin-top: 30px;
}


/* --------------------------------------------------
// Subject Button Box Menu - Homepage
-------------------------------------------------- */

.subject-buttonbox {
  height: 226px;
  width: 246px;
  background-color: #ccc;
  position: relative;
  padding-top: 20px;
}

.subject-buttonbox .subject-title {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.subject-buttonbox .subject-image {
  position: relative;
  overflow: hidden;
  top: 7px;
  height: 136px;
  width: 136px;
  -moz-border-radius: 68px;
  border-radius: 68px;
  margin: 0 auto;
}
.subject-buttonbox .subject-image img {
  max-height: 136px;
  max-width: none;
}

.subject-buttonbox .pbar-circle {
  opacity:0.3;
  filter:alpha(opacity=30);
  position: absolute;
  top: 20px;
  left: 48px;
}

.learning-path {
  background-color: #E4E4E4;
  border-top: 10px solid #DB0962;
  margin-top: 10px;
}

.path-steps {
  background-color: #333333;
  padding: 20px 0 10px;
}
.path-steps ul li {
  padding: 9px 15px 5px;
  border-bottom: 1px solid #1F1F1F;
}
.path-steps ul li:hover {
  background-color: #fff;
  cursor: pointer;
  color: #DB0962;
}
.path-steps ul li a {
  color: #8C8C8C;
  text-decoration: none;
}
.path-steps ul li a:hover {
  color: #DB0962;
}

.path-steps .active {
  background-color: #1F1F1F;
  color:#fff;
}
.path-content {
  padding: 50px 0 20px 20px;
}

.notes input {
  padding: 10px 6px;
  font-size: 16px;
}
.notes ul {
  border-top: 1px dashed #666;
  margin-top: 10px;
}
.notes ul li {
  padding: 15px 0 10px;
  border-bottom: 1px dashed #aaa;
}

/* --------------------------------------------------
// Subject Button Box Menu - Colors
-------------------------------------------------- */
.bg-red,
.bg-red-alt-2 .eg-back span {background-color: #CC131F;} /* main */
.bg-red-alt-2 .eg-back a::after {border-right: 12px solid #CC131F;} /* main */
.bg-red-alt-1{ background-color: #CC131F;} /* main repeat */
.bg-red:hover,
.bg-red-alt-2 .eg-multimenu li a:hover { background-color: #E61523;} /* hover */
.bg-red-alt-2,
.bg-red-alt-2 .eg-close::before,
.bg-red-alt-2 .eg-close::after { background-color: #A60F19;} /* dark - Background */
.eg-grid li.eg-expanded.color-red  > a::after {border-bottom-color: #A60F19;} /* dark - Background */
.bg-red-alt-2 .eg-back {background-color: #8C0D15;} /* darker - title bg */
.bg-red-alt-2 .eg-multimenu,
.bg-red-alt-2 .eg-multimenu li a { border-color: #800C13;} /* darkerest - lines */
.bg-red-alt-2 .eg-close-container {background-color:#800C13; } /* darkerest - lines */

.bg-orange,
.bg-orange-alt-2 .eg-back span {background-color: #E65D18;} /* main  */
.bg-orange-alt-2 .eg-back a::after {border-right: 12px solid #E65D18;} /* main  */
.bg-orange-alt-1{ background-color: #E65D18;} /* main repeat */
.bg-orange:hover,
.bg-orange-alt-2 .eg-multimenu li a:hover { background-color: #FF671B;} /* hover */
.bg-orange-alt-2,
.bg-orange-alt-2 .eg-close::before,
.bg-orange-alt-2 .eg-close::after { background-color: #BF4D14;} /* dark - Background*/
.eg-grid li.eg-expanded.color-orange  > a::after {border-bottom-color: #BF4D14;} /* dark - Background */
.bg-orange-alt-2 .eg-back {background-color: #A64311;} /* darker - title bg*/
.bg-orange-alt-2 .eg-multimenu,
.bg-orange-alt-2 .eg-multimenu li a { border-color: #993E10;} /* darkerest - lines */
.bg-orange-alt-2 .eg-close-container {background-color:#993E10; } /* darkerest - lines */

.bg-yellow,
.bg-yellow-alt-2 .eg-back span {background-color: #E6BB0F;} /* main  */
.bg-yellow-alt-2 .eg-back a::after {border-right: 12px solid #E6BB0F;} /* main  */
.bg-yellow-alt-1{ background-color: #E6BB0F;} /* main repeat */
.bg-yellow:hover,
.bg-yellow-alt-2 .eg-multimenu li a:hover { background-color: #FFCF11;} /* hover */
.bg-yellow-alt-2,
.bg-yellow-alt-2 .eg-close::before,
.bg-yellow-alt-2 .eg-close::after { background-color: #BF9B0C;} /* dark - Background*/
.eg-grid li.eg-expanded.color-yellow  > a::after {border-bottom-color: #BF9B0C;} /* dark - Background */
.bg-yellow-alt-2 .eg-back {background-color: #A6870B;} /* darker - title bg*/
.bg-yellow-alt-2 .eg-multimenu,
.bg-yellow-alt-2 .eg-multimenu li a { border-color: #997C0A;} /* darkerest - lines */
.bg-yellow-alt-2 .eg-close-container {background-color:#997C0A; } /* darkerest - lines */

.bg-lightgreen,
.bg-lightgreen-alt-2 .eg-back span {background-color: #71B33E;} /* main  */
.bg-lightgreen-alt-2 .eg-back a::after {border-right: 12px solid #71B33E;} /* main  */
.bg-lightgreen-alt-1{ background-color: #71B33E;} /* main repeat */
.bg-lightgreen:hover,
.bg-lightgreen-alt-2 .eg-multimenu li a:hover { background-color: #81CC47;} /* hover */
.bg-lightgreen-alt-2,
.bg-lightgreen-alt-2 .eg-close::before,
.bg-lightgreen-alt-2 .eg-close::after { background-color: #598C31;} /* dark - Background*/
.eg-grid li.eg-expanded.color-lightgreen  > a::after {border-bottom-color: #598C31;} /* dark - Background */
.bg-lightgreen-alt-2 .eg-back {background-color: #497328;} /* darker - title bg*/
.bg-lightgreen-alt-2 .eg-multimenu,
.bg-lightgreen-alt-2 .eg-multimenu li a { border-color: #406623;} /* darkerest - lines */
.bg-lightgreen-alt-2 .eg-close-container {background-color:#406623; } /* darkerest - lines */

.bg-green,
.bg-green-alt-2 .eg-back span {background-color: #009968;} /* main  */
.bg-green-alt-2 .eg-back a::after {border-right: 12px solid #009968;} /* main  */
.bg-green-alt-1{ background-color: #009968;} /* main repeat */
.bg-green:hover,
.bg-green-alt-2 .eg-multimenu li a:hover { background-color: #00B379;} /* hover */
.bg-green-alt-2,
.bg-green-alt-2 .eg-close::before,
.bg-green-alt-2 .eg-close::after { background-color: #00734E;} /* dark - Background*/
.eg-grid li.eg-expanded.color-green  > a::after {border-bottom-color: #00734E;} /* dark - Background */
.bg-green-alt-2 .eg-back {background-color: #00593D;} /* darker - title bg*/
.bg-green-alt-2 .eg-multimenu,
.bg-green-alt-2 .eg-multimenu li a { border-color: #004D34;} /* darkerest - lines */
.bg-green-alt-2 .eg-close-container {background-color:#004D34; } /* darkerest - lines */

.bg-lightblue,
.bg-lightblue-alt-2 .eg-back span {background-color: #00B3A7;} /* main  */
.bg-lightblue-alt-2 .eg-back a::after {border-right: 12px solid #00B3A7;} /* main  */
.bg-lightblue-alt-1{ background-color: #00B3A7;} /* main repeat */
.bg-lightblue:hover,
.bg-lightblue-alt-2 .eg-multimenu li a:hover { background-color: #00CCBE;} /* hover */
.bg-lightblue-alt-2,
.bg-lightblue-alt-2 .eg-close::before,
.bg-lightblue-alt-2 .eg-close::after { background-color: #008C83;} /* dark - Background*/
.eg-grid li.eg-expanded.color-lightblue  > a::after {border-bottom-color: #008C83;} /* dark - Background */
.bg-lightblue-alt-2 .eg-back {background-color: #00736B;} /* darker - title bg*/
.bg-lightblue-alt-2 .eg-multimenu,
.bg-lightblue-alt-2 .eg-multimenu li a { border-color: #00665F;} /* darkerest - lines */
.bg-lightblue-alt-2 .eg-close-container {background-color:#00665F; } /* darkerest - lines */

.bg-blue,
.bg-blue-alt-2 .eg-back span {background-color: #273691;} /* main - 60% */
.bg-blue-alt-2 .eg-back a::after {border-right: 12px solid #273691;} /* main - 60% */
.bg-blue:hover,
.bg-blue-alt-2 .eg-multimenu li a:hover { background-color: #2E40AD;} /* hover - 70% */
.bg-blue-alt-2,
.bg-blue-alt-2 .eg-close::before,
.bg-blue-alt-2 .eg-close::after { background-color: #202B73;} /* dark - Background - 45% */
.eg-grid li.eg-expanded.color-blue  > a::after {border-bottom-color: #202B73;} /* dark - Background - 45% */
.bg-blue-alt-2 .eg-back {background-color: #181C59;} /* darker - title bg - 35% */
.bg-blue-alt-2 .eg-multimenu,
.bg-blue-alt-2 .eg-multimenu li a { border-color: #15184D;} /* darkerest - lines - 30% */
.bg-blue-alt-2 .eg-close-container {background-color:#15184D; } /* darkerest - lines - 30% */
.bg-blue-alt-1{ background-color: #273691;} /* main repeat */

.bg-violet,
.bg-violet-alt-2 .eg-back span {background-color: #5A4099;} /* main  */
.bg-violet-alt-2 .eg-back a::after {border-right: 12px solid #5A4099;} /* main  */
.bg-violet-alt-1{ background-color: #5A4099;} /* main repeat */
.bg-violet:hover,
.bg-violet-alt-2 .eg-multimenu li a:hover { background-color: #694BB3;} /* hover */
.bg-violet-alt-2,
.bg-violet-alt-2 .eg-close::before,
.bg-violet-alt-2 .eg-close::after { background-color: #433073;} /* dark - Background*/
.eg-grid li.eg-expanded.color-violet  > a::after {border-bottom-color: #433073;} /* dark - Background */
.bg-violet-alt-2 .eg-back {background-color: #342559;} /* darker - title bg*/
.bg-violet-alt-2 .eg-multimenu,
.bg-violet-alt-2 .eg-multimenu li a { border-color: #2D204D;} /* darkerest - lines */
.bg-violet-alt-2 .eg-close-container {background-color:#2D204D; } /* darkerest - lines */

/* MAGENTA */
.bg-purple,
.bg-purple-alt-2 .eg-back span {background-color: #CC085A;} /* main  */
.bg-purple-alt-2 .eg-back a::after {border-right: 12px solid #CC085A;} /* main  */
.bg-purple-alt-1{ background-color: #CC085A;} /* main repeat */
.bg-purple:hover,
.bg-purple-alt-2 .eg-multimenu li a:hover { background-color: #E60965;} /* hover */
.bg-purple-alt-2,
.bg-purple-alt-2 .eg-close::before,
.bg-purple-alt-2 .eg-close::after { background-color: #A60649;} /* dark - Background*/
.eg-grid li.eg-expanded.color-purple  > a::after {border-bottom-color: #A60649;} /* dark - Background */
.bg-purple-alt-2 .eg-back {background-color: #8C053E;} /* darker - title bg*/
.bg-purple-alt-2 .eg-multimenu,
.bg-purple-alt-2 .eg-multimenu li a { border-color: #800538;} /* darkerest - lines */
.bg-purple-alt-2 .eg-close-container {background-color:#800538; } /* darkerest - lines */


/* DARKERS */
.bg-darkblue,
.bg-darkblue-alt-2 .eg-back span {background-color: #121966;} /* main  */
.bg-darkblue-alt-2 .eg-back a::after {border-right: 12px solid #121966;} /* main  */
.bg-darkblue-alt-1{ background-color: #121966;} /* main repeat */
.bg-darkblue:hover,
.bg-darkblue-alt-2 .eg-multimenu li a:hover { background-color: #161F80;} /* hover */
.bg-darkblue-alt-2,
.bg-darkblue-alt-2 .eg-close::before,
.bg-darkblue-alt-2 .eg-close::after { background-color: #0B1040;} /* dark - Background*/
.eg-grid li.eg-expanded.color-darkblue  > a::after {border-bottom-color: #0B1040;} /* dark - Background */
.bg-darkblue-alt-2 .eg-back {background-color: #070926;} /* darker - title bg*/
.bg-darkblue-alt-2 .eg-multimenu,
.bg-darkblue-alt-2 .eg-multimenu li a { border-color: #04061A;} /* darkerest - lines */
.bg-darkblue-alt-2 .eg-close-container {background-color:#04061A; } /* darkerest - lines */


/* --------------------------------------------------
// View Mode
-------------------------------------------------- */
.view-mode {
  position: absolute;
  margin:40px 0 0 70px;
}
.view-mode a {
  height: 26px;
  width: 26px;
  text-indent: -9999px;
  display: inline-block;
}


/* --------------------------------------------------
// View Mode: Grid View
-------------------------------------------------- */

.vm-grid {
  background: url("../../img/icn_view_mode.png") no-repeat scroll 0 0 transparent;
  }
.vm-grid:hover {
  background: url("../../img/icn_view_mode.png") no-repeat scroll -30px 0 transparent;
}
.vm-grid.active, .vm-grid.active:hover {
  background: url("../../img/icn_view_mode.png") no-repeat scroll -60px 0 transparent;
}
.vm-list {
  background: url("../../img/icn_view_mode.png") no-repeat scroll 0 -29px transparent;
  margin-left: 2px;
}
.vm-list:hover {
  background: url("../../img/icn_view_mode.png") no-repeat scroll -30px -29px transparent;
}
.vm-list.active, .vm-list.active:hover {
  background: url("../../img/icn_view_mode.png") no-repeat scroll -60px -29px transparent;
}

/* --------------------------------------------------
// View Mode: List View
-------------------------------------------------- */

.lv-container {
  margin: 0;
}
.lv-container .subject-item {
  position: relative;
}
.lv-icon {
  height: 36px;
  width: 36px;
  padding: 6px;
  float: left;
  margin-right: 5px;
}
.lv-container .title3 {
  padding: 12px 0 0 55px;
  cursor: pointer;
}
.lv-container .title3 i {
  margin: 3px 3px 0 0;
}
.lv-container .small1 {
  margin-top: -25px;
  position: absolute;
  right: 0;
}
.lv-lvlone {
  padding: 9px 0 0 18px;
}
.lv-lvlone li {
  border-top: 1px solid #ccc;
  padding: 12px 0px 7px 38px;
}
.lv-lvlone li:last-child {
  border-bottom: 1px solid #ccc;
}
.lv-lvlone li i {
  margin: -2px 3px 0 0;
}
.subject-item {
  margin-bottom: 20px;
}
.subject-item .lv-lvlone li:first-child .lvl-btn .lp-bar-prev,
.subject-item .lv-lvlone li:last-child .lvl-btn .lp-bar-post {
  display: none;
}
.subject-item .lv-lvlone .lp-bar-prev,
.subject-item .lv-lvlone .lp-bar-post {
  background-color: #ccc;
}
.subject-item .lv-lvlone .lp-bar-prev.viewed,
.subject-item .lv-lvlone .lp-bar-post.viewed {
  background-color: #F76E26;
}


.lv-lvltwo {
    padding: 9px 0 0 0;
}
.lv-lvltwo li:last-child {
  border-bottom: none;
}
.subject-item .lv-lvltwo li:last-child .lp-bar-post {
  display: none;
}

/* --------------------------------------------------
// Unit View
-------------------------------------------------- */
.unit-view {
  border-top: 10px solid #008A5E;
  margin-top: -47px;
}
.unit-hd {
  position: relative;
}
.unit-hd .small1 {
  margin-top: -25px;
  position: absolute;
  right: 0;
}
.unit-hd .title3 {
  padding: 12px 0 0 55px;
}
.unit-container {
  padding: 0 0 0 70px;
}
.unit-container .lv-container {
  border-bottom: 1px solid #dedede;
}
.unit-container .subject-item {
  border-top: 1px solid #dedede;
  padding: 15px 0 9px;
  margin-bottom: 0px;
  background-color: white;
}
.unit-time {
  float: right;
  margin-top: -24px;
}
.unit-container .lv-lvlone {
  margin-bottom: 20px;
}
.unit-tooltip {
  position: absolute;
  padding: 5px 0px;
  margin-top: -21px;
}
.unit-tooltip div {
  height: 1px;
  background-color: #F76E26;
}

.italic{
  font-style: italic;
}

#progressbar{
  display: none;
}

input.knob{ display: none;}

.resource img{
  
}

.resource iframe, .resource embed { 
   max-width: 100%;
   height: 500px;
   width: 100%;
}

.heigth-230{
  max-height: 230px;
}

.ui-sortable:active{
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: move;
}

div[type*=button]{
  cursor: hand;
  cursor: pointer;
}

.a-son-li{
  background-color: white;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.marginbottom5{margin-bottom: 5px;}
.marginbottom10{margin-bottom: 10px;}
.marginbottom20{margin-bottom: 20px;}
.marginbottom40{margin-bottom: 40px;}
.marginbottom50{margin-bottom: 50px;}
.marginbottom100{margin-bottom: 100px;}

.margintop5{margin-top: 5px;}
.margintop10{margin-top: 10px;}
.margintop20{margin-top: 20px;}
.margintop40{margin-top: 40px;}
.margintop50{margin-top: 50px;}
.margintop100{margin-top: 100px;}

.eg-details .description > div{
  position: relative;
  max-height: 320px;
}