/* 
 * Expanding Grid
 * Based on Codrops Tutorial "THUMBNAIL GRID WITH EXPANDING PREVIEW" by Mary Lou
 * 
 * Designed and built with all the egg in the world by @pol_r 
 * Special thanks and love to Mary Lou aka @crnacura 
 *
 */
 
/* --------------------------------------------------
// Expanding Grid
-------------------------------------------------- */
.eg-grid {
	list-style: none;
	margin: 0 auto;
	width: 100%;
}

.eg-grid li.subject-item {
	display: inline-block;
	margin: 10px 10px 0 0;
	vertical-align: top;
	height: 250px;
}

.eg-grid li > a,
.eg-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
	color: #fff;
}

.eg-grid li.eg-expanded {
	transition: height 350ms ease;
	-webkit-transition: height 350ms ease;
	height: 760px;
}

.eg-grid li.eg-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #262626;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.eg-expander {
	position: absolute;
	background-color: #262626;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.eg-expander.expanded {
	transition: height 350ms ease;
	-webkit-transition: height 350ms ease;
	height: 500px;
}

.eg-expander-inner {
	width: 940px;
	height: 100%;
	margin: auto;
}

.eg-thumb {
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 45px;
	height: 45px;
	padding: 7px;
	background-color: #000;
	margin-top: 30px;
}
.eg-details {
	width: 246px;
	float: left;
	overflow: hidden;
	position: relative;
	padding: 40px 0 0 20px;
}



/* --------------------------------------------------
// Pseudo-element Close
-------------------------------------------------- */
.eg-close-container {
	background-color: #000;
	width: 50px;
	height: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 30px;
	position: absolute;
	z-index: 999;
	margin-left: 860px;
	margin-top: 20px;
}
.eg-close {
	position: absolute;
	width: 32px;
	height: 40px;
	cursor: pointer;
}

.eg-close::before,
.eg-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 8px;
	background: #333;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 1px 0px 0 9px;
}

.eg-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.eg-close:hover::before,
.eg-close:hover::after {
	background: #555;
}


/* --------------------------------------------------
// Multimenu
-------------------------------------------------- */

.eg-multimenu {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	width: 474px;
	height: 100%;
	margin-left: 45px;
	float: left;
}
.eg-multimenu {
	padding: 20px 0 0;
}
.eg-multimenu li {
}
.eg-multimenu li a {
	padding: 12px 10px 8px 42px;
	border-bottom: 1px solid #000;
	font-size: 15px;
}
.eg-multimenu li a:hover {
	text-decoration: none;
	background-color: #1f1f1f;
}


/* --------------------------------------------------
// Learning Path Nodes
-------------------------------------------------- */
.lp-node {
	position: absolute;
	margin: -3px 0 0 -33px;
}
.lp-node canvas {
	position: absolute;
	z-index: 999;
}
.lp-bar-prev {
	position: absolute;
	background-color: #000;
	width: 3px;
	height: 13px;
	margin: -10px 0 0 11px;
}
.eg-multimenu ul li:first-child .lp-bar-prev {
	display: none;
}
.eg-multimenu ul li:last-child .lp-bar-post {
	display: none;
}
.lp-bar-post {
	position: absolute;
	background-color: #000;
	width: 3px;
	height: 8px;
	margin: 23px 0 0 11px;
}
.lp-bar-prev.viewed, .lp-bar-post.viewed {
	background-color: #fff;
}







