/* --------------------------------------------------
// Helpers
-------------------------------------------------- */
.alpha{padding-left: 0;}
.omega{padding-right: 0;}
.right{float: right;}
.left{float: left;}
.clear{clear: both;}

.clearmargin {margin:0;}
.clearpadding{padding:0;}

.margintop {margin-top:20px;}
.marginbottom {margin-bottom:20px;}
.marginbottom10 {margin-bottom:10px;}
.margintop10 {margin-top:10px;}
.margintop40 {margin-top:40px;}
.margintop60 {margin-top:60px;}

.pleft25{padding-left:25px;}

.small1, .small2 {line-height:1.5;}

.txt-center {text-align:center;}
.txt-right {text-align:right;}
.txt-left {text-align:left;}

.separator{
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 30px;
}

.loading-cursor{cursor: wait !important;}