.subject-grid {
}

div[class^="subject-"]{
  transition:all 0.1s ease-in-out;
}
.subject-biology {
  background: url("../../img/subject-icons/subject-icn-biology.png") no-repeat scroll center 48px $subject-biology;
}
  .subject-grid a:hover .subject-biology {
  background: url("../../img/subject-icons/subject-icn-biology.png") no-repeat scroll center 48px lighten($subject-biology, 5%);
}
.subject-fisics {
  background: url("../../img/subject-icons/subject-icn-fisics.png") no-repeat scroll center 48px $subject-fisics;
}
.subject-grid a:hover .subject-fisics {
  background: url("../../img/subject-icons/subject-icn-fisics.png") no-repeat scroll center 48px lighten($subject-fisics, 5%);
}
.subject-grammar {
  background: url("../../img/subject-icons/subject-icn-grammar.png") no-repeat scroll center 48px $subject-grammar;
}
.subject-grid a:hover .subject-grammar {
  background: url("../../img/subject-icons/subject-icn-grammar.png") no-repeat scroll center 48px lighten($subject-grammar, 5%);
}
.subject-history {
  background: url("../../img/subject-icons/subject-icn-history.png") no-repeat scroll center 48px $subject-history;
}
.subject-grid a:hover .subject-history {
  background: url("../../img/subject-icons/subject-icn-history.png") no-repeat scroll center 48px lighten($subject-history, 5%);
}
.subject-live {
  background: url("../../img/subject-icons/subject-icn-live.png") no-repeat scroll center 48px $subject-live;
}
.subject-grid a:hover .subject-live {
  background: url("../../img/subject-icons/subject-icn-live.png") no-repeat scroll center 48px lighten($subject-live, 5%);
}
.subject-maths {
  background: url("../../img/subject-icons/subject-icn-maths.png") no-repeat scroll center 48px $subject-maths;
}
.subject-grid a:hover .subject-maths {
  background: url("../../img/subject-icons/subject-icn-maths.png") no-repeat scroll center 48px lighten($subject-maths, 5%);
}
.subject-reasoning {
  background: url("../../img/subject-icons/subject-icn-reasoning.png") no-repeat scroll center 48px $subject-reasoning;
}
.subject-grid a:hover .subject-reasoning {
  background: url("../../img/subject-icons/subject-icn-reasoning.png") no-repeat scroll center 48px lighten($subject-reasoning, 5%);
}
.subject-simulation {
  background: url("../../img/subject-icons/subject-icn-simulation.png") no-repeat scroll center 48px $subject-simulation;
}
.subject-grid a:hover .subject-simulation {
  background: url("../../img/subject-icons/subject-icn-simulation.png") no-repeat scroll center 48px lighten($subject-simulation, 5%);
}
.subject-socialcs {
  background: url("../../img/subject-icons/subject-icn-socialcs.png") no-repeat scroll center 48px $subject-socialcs;
}
.subject-grid a:hover .subject-socialcs {
  background: url("../../img/subject-icons/subject-icn-socialcs.png") no-repeat scroll center 48px lighten($subject-socialcs, 5%);
}


/* --------------------------------------------------
// Subject Button Box Menu - Homepage
-------------------------------------------------- */

.subject-buttonbox {
  width: 246px;
  height: 246px;
  background-color: #ccc;
  position: relative;
  padding-top: 20px;
  transition:all 0.2s ease-in-out;

  .subject-title {
    position: absolute;
    bottom: 24px;
    width: 100%;
    padding: 0 10px;
    z-index: 500;

    .st-title {
      font-family: HelveticaBd, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 20px;
      margin: 0;
      line-height: 1.3;
    }
    .st-progress {
      font-family: HelveticaRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      margin: 0;
      line-height: 1;
    }
  }

  .subject-image {
    position: relative;
    overflow: hidden;
    top: 7px;
    height: 136px;
    width: 136px;
    -moz-border-radius: 68px;
    border-radius: 68px;
    margin: 0 auto;

    img {
      max-height: 136px;
      max-width: none;
      margin: 0 auto;
    }
  }

}

.pbar-circle{
  opacity:0.6;
  filter:alpha(opacity=60);

  input{
    opacity:0;
    filter:alpha(opacity=0);
  }
}


/* --------------------------------------------------
// Subject Button Box Menu - Homepage
-------------------------------------------------- */

.subject-buttonbox .pbar-circle {
  opacity:0.3;
  filter:alpha(opacity=30);
  position: absolute;
  top: 20px;
  left: 48px;
}

.subject-add {
  border:2px dashed #E5E5EB;
  background-color: #fff;
  color: #949499;
  width: 246px;
  height: 246px;
  transition:all 0.2s ease-in-out;
}
.subject-plus {
  font-size: 200px;
  font-family: HelveticaBd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 45px;
  color: #E9E9EB;
  transition:all 0.2s ease-in-out;
}
.subject-add:hover {
  border:2px dashed #C7C7CC;
}
.subject-add:hover .subject-plus {
  color: #AFAFB3;
}

/* --------------------------------------------------
// Subject Button Box Menu - Colors
-------------------------------------------------- */
.bg-red,
.bg-red-alt-2 .eg-back span {background-color: #CC131F;} /* main */
.bg-red-alt-2 .eg-back a::after {border-right: 12px solid #CC131F;} /* main */
.bg-red-alt-1{ background-color: #CC131F;} /* main repeat */
.bg-red:hover,
.bg-red-alt-2 .eg-multimenu li a:hover { background-color: #E61523;} /* hover */
.bg-red-alt-2,
.bg-red-alt-2 .eg-close::before,
.bg-red-alt-2 .eg-close::after { background-color: #A60F19;} /* dark - Background */
.eg-grid li.eg-expanded.color-red  > a::after {border-bottom-color: #A60F19;} /* dark - Background */
.bg-red-alt-2 .eg-back {background-color: #8C0D15;} /* darker - title bg */
.bg-red-alt-2 .eg-multimenu,
.bg-red-alt-2 .eg-multimenu li a { border-color: #800C13;} /* darkerest - lines */
.bg-red-alt-2 .eg-close-container {background-color:#800C13; } /* darkerest - lines */

.bg-orange,
.bg-orange-alt-2 .eg-back span {background-color: #E65D18;} /* main  */
.bg-orange-alt-2 .eg-back a::after {border-right: 12px solid #E65D18;} /* main  */
.bg-orange-alt-1{ background-color: #E65D18;} /* main repeat */
.bg-orange:hover,
.bg-orange-alt-2 .eg-multimenu li a:hover { background-color: #FF671B;} /* hover */
.bg-orange-alt-2,
.bg-orange-alt-2 .eg-close::before,
.bg-orange-alt-2 .eg-close::after { background-color: #BF4D14;} /* dark - Background*/
.eg-grid li.eg-expanded.color-orange  > a::after {border-bottom-color: #BF4D14;} /* dark - Background */
.bg-orange-alt-2 .eg-back {background-color: #A64311;} /* darker - title bg*/
.bg-orange-alt-2 .eg-multimenu,
.bg-orange-alt-2 .eg-multimenu li a { border-color: #993E10;} /* darkerest - lines */
.bg-orange-alt-2 .eg-close-container {background-color:#993E10; } /* darkerest - lines */

.bg-yellow,
.bg-yellow-alt-2 .eg-back span {background-color: #E6BB0F;} /* main  */
.bg-yellow-alt-2 .eg-back a::after {border-right: 12px solid #E6BB0F;} /* main  */
.bg-yellow-alt-1{ background-color: #E6BB0F;} /* main repeat */
.bg-yellow:hover,
.bg-yellow-alt-2 .eg-multimenu li a:hover { background-color: #FFCF11;} /* hover */
.bg-yellow-alt-2,
.bg-yellow-alt-2 .eg-close::before,
.bg-yellow-alt-2 .eg-close::after { background-color: #BF9B0C;} /* dark - Background*/
.eg-grid li.eg-expanded.color-yellow  > a::after {border-bottom-color: #BF9B0C;} /* dark - Background */
.bg-yellow-alt-2 .eg-back {background-color: #A6870B;} /* darker - title bg*/
.bg-yellow-alt-2 .eg-multimenu,
.bg-yellow-alt-2 .eg-multimenu li a { border-color: #997C0A;} /* darkerest - lines */
.bg-yellow-alt-2 .eg-close-container {background-color:#997C0A; } /* darkerest - lines */

.bg-lightgreen,
.bg-lightgreen-alt-2 .eg-back span {background-color: #71B33E;} /* main  */
.bg-lightgreen-alt-2 .eg-back a::after {border-right: 12px solid #71B33E;} /* main  */
.bg-lightgreen-alt-1{ background-color: #71B33E;} /* main repeat */
.bg-lightgreen:hover,
.bg-lightgreen-alt-2 .eg-multimenu li a:hover { background-color: #81CC47;} /* hover */
.bg-lightgreen-alt-2,
.bg-lightgreen-alt-2 .eg-close::before,
.bg-lightgreen-alt-2 .eg-close::after { background-color: #598C31;} /* dark - Background*/
.eg-grid li.eg-expanded.color-lightgreen  > a::after {border-bottom-color: #598C31;} /* dark - Background */
.bg-lightgreen-alt-2 .eg-back {background-color: #497328;} /* darker - title bg*/
.bg-lightgreen-alt-2 .eg-multimenu,
.bg-lightgreen-alt-2 .eg-multimenu li a { border-color: #406623;} /* darkerest - lines */
.bg-lightgreen-alt-2 .eg-close-container {background-color:#406623; } /* darkerest - lines */

.bg-green,
.bg-green-alt-2 .eg-back span {background-color: #009968;} /* main  */
.bg-green-alt-2 .eg-back a::after {border-right: 12px solid #009968;} /* main  */
.bg-green-alt-1{ background-color: #009968;} /* main repeat */
.bg-green:hover,
.bg-green-alt-2 .eg-multimenu li a:hover { background-color: #00B379;} /* hover */
.bg-green-alt-2,
.bg-green-alt-2 .eg-close::before,
.bg-green-alt-2 .eg-close::after { background-color: #00734E;} /* dark - Background*/
.eg-grid li.eg-expanded.color-green  > a::after {border-bottom-color: #00734E;} /* dark - Background */
.bg-green-alt-2 .eg-back {background-color: #00593D;} /* darker - title bg*/
.bg-green-alt-2 .eg-multimenu,
.bg-green-alt-2 .eg-multimenu li a { border-color: #004D34;} /* darkerest - lines */
.bg-green-alt-2 .eg-close-container {background-color:#004D34; } /* darkerest - lines */

.bg-lightblue,
.bg-lightblue-alt-2 .eg-back span {background-color: #00B3A7;} /* main  */
.bg-lightblue-alt-2 .eg-back a::after {border-right: 12px solid #00B3A7;} /* main  */
.bg-lightblue-alt-1{ background-color: #00B3A7;} /* main repeat */
.bg-lightblue:hover,
.bg-lightblue-alt-2 .eg-multimenu li a:hover { background-color: #00CCBE;} /* hover */
.bg-lightblue-alt-2,
.bg-lightblue-alt-2 .eg-close::before,
.bg-lightblue-alt-2 .eg-close::after { background-color: #008C83;} /* dark - Background*/
.eg-grid li.eg-expanded.color-lightblue  > a::after {border-bottom-color: #008C83;} /* dark - Background */
.bg-lightblue-alt-2 .eg-back {background-color: #00736B;} /* darker - title bg*/
.bg-lightblue-alt-2 .eg-multimenu,
.bg-lightblue-alt-2 .eg-multimenu li a { border-color: #00665F;} /* darkerest - lines */
.bg-lightblue-alt-2 .eg-close-container {background-color:#00665F; } /* darkerest - lines */

.bg-blue,
.bg-blue-alt-2 .eg-back span {background-color: #273691;} /* main - 60% */
.bg-blue-alt-2 .eg-back a::after {border-right: 12px solid #273691;} /* main - 60% */
.bg-blue:hover,
.bg-blue-alt-2 .eg-multimenu li a:hover { background-color: #2E40AD;} /* hover - 70% */
.bg-blue-alt-2,
.bg-blue-alt-2 .eg-close::before,
.bg-blue-alt-2 .eg-close::after { background-color: #202B73;} /* dark - Background - 45% */
.eg-grid li.eg-expanded.color-blue  > a::after {border-bottom-color: #202B73;} /* dark - Background - 45% */
.bg-blue-alt-2 .eg-back {background-color: #181C59;} /* darker - title bg - 35% */
.bg-blue-alt-2 .eg-multimenu,
.bg-blue-alt-2 .eg-multimenu li a { border-color: #15184D;} /* darkerest - lines - 30% */
.bg-blue-alt-2 .eg-close-container {background-color:#15184D; } /* darkerest - lines - 30% */
.bg-blue-alt-1{ background-color: #273691;} /* main repeat */

.bg-violet,
.bg-violet-alt-2 .eg-back span {background-color: #5A4099;} /* main  */
.bg-violet-alt-2 .eg-back a::after {border-right: 12px solid #5A4099;} /* main  */
.bg-violet-alt-1{ background-color: #5A4099;} /* main repeat */
.bg-violet:hover,
.bg-violet-alt-2 .eg-multimenu li a:hover { background-color: #694BB3;} /* hover */
.bg-violet-alt-2,
.bg-violet-alt-2 .eg-close::before,
.bg-violet-alt-2 .eg-close::after { background-color: #433073;} /* dark - Background*/
.eg-grid li.eg-expanded.color-violet  > a::after {border-bottom-color: #433073;} /* dark - Background */
.bg-violet-alt-2 .eg-back {background-color: #342559;} /* darker - title bg*/
.bg-violet-alt-2 .eg-multimenu,
.bg-violet-alt-2 .eg-multimenu li a { border-color: #2D204D;} /* darkerest - lines */
.bg-violet-alt-2 .eg-close-container {background-color:#2D204D; } /* darkerest - lines */

/* MAGENTA */
.bg-purple,
.bg-purple-alt-2 .eg-back span {background-color: #CC085A;} /* main  */
.bg-purple-alt-2 .eg-back a::after {border-right: 12px solid #CC085A;} /* main  */
.bg-purple-alt-1{ background-color: #CC085A;} /* main repeat */
.bg-purple:hover,
.bg-purple-alt-2 .eg-multimenu li a:hover { background-color: #E60965;} /* hover */
.bg-purple-alt-2,
.bg-purple-alt-2 .eg-close::before,
.bg-purple-alt-2 .eg-close::after { background-color: #A60649;} /* dark - Background*/
.eg-grid li.eg-expanded.color-purple  > a::after {border-bottom-color: #A60649;} /* dark - Background */
.bg-purple-alt-2 .eg-back {background-color: #8C053E;} /* darker - title bg*/
.bg-purple-alt-2 .eg-multimenu,
.bg-purple-alt-2 .eg-multimenu li a { border-color: #800538;} /* darkerest - lines */
.bg-purple-alt-2 .eg-close-container {background-color:#800538; } /* darkerest - lines */


/* DARKERS */
.bg-darkblue,
.bg-darkblue-alt-2 .eg-back span {background-color: #121966;} /* main  */
.bg-darkblue-alt-2 .eg-back a::after {border-right: 12px solid #121966;} /* main  */
.bg-darkblue-alt-1{ background-color: #121966;} /* main repeat */
.bg-darkblue:hover,
.bg-darkblue-alt-2 .eg-multimenu li a:hover { background-color: #161F80;} /* hover */
.bg-darkblue-alt-2,
.bg-darkblue-alt-2 .eg-close::before,
.bg-darkblue-alt-2 .eg-close::after { background-color: #0B1040;} /* dark - Background*/
.eg-grid li.eg-expanded.color-darkblue  > a::after {border-bottom-color: #0B1040;} /* dark - Background */
.bg-darkblue-alt-2 .eg-back {background-color: #070926;} /* darker - title bg*/
.bg-darkblue-alt-2 .eg-multimenu,
.bg-darkblue-alt-2 .eg-multimenu li a { border-color: #04061A;} /* darkerest - lines */
.bg-darkblue-alt-2 .eg-close-container {background-color:#04061A; } /* darkerest - lines */




/* --------------------------------------------------
// View Mode
-------------------------------------------------- */
.view-mode {
  position: absolute;
  margin:40px 0 0 70px;
}
.view-mode a {
  height: 26px;
  width: 26px;
  text-indent: -9999px;
  display: inline-block;
}


/* --------------------------------------------------
// View Mode: Grid View
-------------------------------------------------- */

.vm-grid {
  background: url("../../img/icn_view_mode.png") no-repeat scroll 0 0 transparent;
  }
.vm-grid:hover {
  background: url("../../img/icn_view_mode.png") no-repeat scroll -30px 0 transparent;
}
.vm-grid.active, .vm-grid.active:hover {
  background: url("../../img/icn_view_mode.png") no-repeat scroll -60px 0 transparent;
}
.vm-list {
  background: url("../../img/icn_view_mode.png") no-repeat scroll 0 -29px transparent;
  margin-left: 2px;
}
.vm-list:hover {
  background: url("../../img/icn_view_mode.png") no-repeat scroll -30px -29px transparent;
}
.vm-list.active, .vm-list.active:hover {
  background: url("../../img/icn_view_mode.png") no-repeat scroll -60px -29px transparent;
}

.eg-details .description p.eg-dtitle {
  margin-left: -95px;
  font-family: HelveticaMd, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.eg-details .description .eg-description {
    margin: 0px;
}
.eg-details .description .eg-description p {
  font-size: 13px;
  font-family: HelveticaMd, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* --------------------------------------------------
// Unit View
-------------------------------------------------- */


.italic{
  font-style: italic;
}

#progressbar{
  display: none;
}

input.knob{ display: none;}

.resource img{
  
}

section.data-exercise .content iframe, .resource iframe, .resource embed { 
   max-width: 100%;
   height: 500px;
   width: 100%;
}

.heigth-230{
  max-height: 230px;
}

.ui-sortable:active{
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: move;
}

div[type*=button]{
  cursor: hand;
  cursor: pointer;
}

.a-son-li{
  background-color: white;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.marginbottom5{margin-bottom: 5px;}
.marginbottom10{margin-bottom: 10px;}
.marginbottom20{margin-bottom: 20px;}
.marginbottom40{margin-bottom: 40px;}
.marginbottom50{margin-bottom: 50px;}
.marginbottom100{margin-bottom: 100px;}

.margintop5{margin-top: 5px;}
.margintop10{margin-top: 10px;}
.margintop20{margin-top: 20px;}
.margintop40{margin-top: 40px;}
.margintop50{margin-top: 50px;}
.margintop100{margin-top: 100px;}

/* --------------------------------------------------
// View Mode: List View
-------------------------------------------------- */

.lv-container {
  margin: 0;
}
.lv-container .subject-item {
  position: relative;
}
.lv-container .subject-item.addchapter-button {
  border: 2px dashed #ccc;
  padding: 20px;
  margin-bottom: 30px;
}
.lv-icon img {
  max-width: none;
  max-height: 48px;
}
.lv-container .lv-title {
  padding: 7px 0 0 0px;
  cursor: pointer;
  font-family: HelveticaBd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #333;
  margin: 0px;
}
.lv-container .lv-title i {
  margin: 1px 4px 0 0;
}
.lv-container .lv-data {
  margin-top: -25px;
  position: absolute;
  right: 0;
  color: #999;
}
ul.lv-lvlone {
    padding: 0px;
}
.lv-lvlone li {
  border-top: 1px solid #ccc;
  padding: 10px 0px 10px 41px;
  position: relative;
}
.lv-lvlone li:last-child {
  border-bottom: 1px solid #ccc;
}
.lv-lvlone li i {
  margin: -2px 3px 0 0;
}
.subject-item {
  margin-bottom: 20px;
}
.subject-item .lv-lvlone li:first-child .lvl-btn .lp-bar-prev,
.subject-item .lv-lvlone li:last-child .lvl-btn .lp-bar-post {
  display: none;
}
.lv-lvlone > .a-son-li > li:last-child > .lp-node > .lp-bar-post {
  display: none;
}
.subject-item .lv-lvlone .lp-bar-prev,
.subject-item .lv-lvlone .lp-bar-post {
  background-color: #ccc;
}
.subject-item .lv-lvlone .lp-bar-prev.viewed,
.subject-item .lv-lvlone .lp-bar-post.viewed {
  background-color: #F76E26;
}


.lv-lvltwo li:last-child {
  border-bottom: none;
}
.subject-item .lv-lvltwo li:first-child .lp-bar-prev,
.subject-item .lv-lvltwo li:last-child .lp-bar-post {
  display: none;
}

/* --------------------------------------------------
// View Mode: List View
-------------------------------------------------- */
.lv-icon {
  height: 48px;
  width: 48px;
  margin: -5px 0 0 -58px;
  position:absolute;
  border-radius: 8px;
  overflow: hidden;
}
.lv-container{
  margin:0;
  padding:0;

  .subject-item {position: relative;}
  .title3 {
    padding: 5px 0 0 55px;
    cursor: pointer;
    i {margin: 0 7px 0 0;}
  }
  .small1 {
    margin-top: -25px;
    position: absolute;
    right: 0;
  }
}

.lv-lvlone {

  & > li {
    cursor:default;
  }

  .title-lesson{
    padding:13px 0 7px 40px;
    cursor: pointer;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    &.collapsed{border-bottom:0;}
    &:hover{background: $gray3;}
    &.last{border-bottom:1px solid #ccc;}
  }

  .sublesson{
    margin-left: 25px;
    padding-left: 10px;
  }

  .lv-lvltwo{
    padding-top:10px;
    li{
      padding:10px 80px 10px 41px;
      cursor: pointer;
      &:hover{background: $gray3;}
      &:first-child{border-top: 0;}
      &:last-child{border-bottom: 0;}
    }
  }
}


.subject-item {
  margin-bottom: 20px;
  cursor: pointer;

  .lv-lvlone li:first-child .lvl-btn .lp-bar-prev,
  .lv-lvlone li:last-child .lvl-btn .lp-bar-post {
    display: none;
  }
  .lv-lvlone .lp-bar-prev,
  .lv-lvlone .lp-bar-post {
    background-color: #ccc;
  }
  .lv-lvlone .lp-bar-prev.viewed,
  .lv-lvlone .lp-bar-post.viewed {
    background-color: #F76E26;
  }
  .desc-subject{margin-top:6px;}
}
.subject-item .lv-lvltwo li:last-child .lp-bar-post {
  display: none;
}

/* --------------------------------------------------
// List View Subjects
-------------------------------------------------- */
.lvs-biology {background-color: #008A5E;}
.lvs-fisics {background-color: #DB0962;}
.lvs-grammar {background-color: #7AC143;}
.lvs-history {background-color: #B5121B;}
.lvs-live {background-color: #5A4099;}
.lvs-maths {background-color: #273691;}
.lvs-reasoning {background-color: #00ACA1;}
.lvs-simulation {background-color: #F76E26;}
.lvs-socialcs {background-color: #11175E;}

/* --------------------------------------------------
// Unit View
-------------------------------------------------- */
.unit-view {

  h3{
    i{margin-right: 10px;}
    span{
      float: right;
      font-size: 12px;
      font-family:HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 50px;
    }
  }
}
.unit-hd {
  position: relative;

  .small1 {
    margin-top: -25px;
    float:right;
  }
}

.unit-container {

  p {
    color:$gray9;
    font-size:15px;
  }
  .unit-title {
    font-family:HelveticaBd, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:20px;
    line-height:1.2;
  }

  .lv-container {border-bottom: 1px solid #dedede;}
  .subject-item {
    border-top: 1px solid #dedede;
    padding: 24px 0;
    margin-bottom: 0;
  }
  .lv-lvlone{margin-bottom: 20px;}
}
.unit-time {
  float: right;
  margin-top: 8px;
  font-size:12px;
}

.unit-tooltip {
  position: absolute;
  top: -30px;
  padding:5px 0;
}
.unit-tooltip div {
  height: 1px;
  background-color: #F76E26;
}

.unit-list{
  .panel-group{
    margin-left: 65px;

    .panel-heading{
      padding: 0;
      border-top:1px solid #ccc;

      h5{
        margin-top:0;
        padding-top: 10px;
        a{color:#000;}
        a:hover{color:$orange;}
        span{font-size: 14px;}
      }
    }

    .panel-body{
      padding:0;
      p{color:$gray9;}
    }
  }
}

.unit-actions {
  position:absolute;
  right:0;
  top:5px;
  a.btn {
    padding:4px 7px 3px;
  }
}
