/* --------------------------------------------------
// NAVBAR
-------------------------------------------------- */
.navbar {
  border-bottom: 1px solid #E5E5EB;
  background-color: rgba(255,255,255,0.975);
  height: 50px;
}

.navbar-header {
}


/* --------------------------------------------------
// nav menu button
-------------------------------------------------- */

.navbar .nav {
  float: left;
  cursor: pointer;
}
.navbar .nav .nav-menu {
  padding: 0px;
  display: block;
  border-right: 1px solid #E5E5EB;
}
.navbar .nav > li > a.nav-menu-icon {
}
.navbar .nav > li > a.nav-menu-icon:hover {
  background-color: #FF671B;
}
.nav-menu-icon::before {
  display: inline-block;
  vertical-align: -4px;
  width: 24px;
  height: 3px;
  background: #ccc;
  box-shadow: 0 3px white, 0 -6px #ccc, 0 -9px white, 0 -12px #ccc;
  content: '';
}
.nav-menu-icon:hover::before {
  display: inline-block;
  vertical-align: -4px;
    width: 24px;
    height: 3px;
    background: #fff;
    box-shadow: 0 3px #E86823, 0 -6px #fff, 0 -9px #E86823, 0 -12px #fff;
    content: '';
}
.nav-menu-icon span {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}

/* --------------------------------------------------
// nav menu button
-------------------------------------------------- */
/* nav brand */
.navbar .brand {
  padding: 14px 20px;
}
.navbar .nav-logo {
  float: left;
  display: block;
  background: url("../../img/svgSprite.svg") no-repeat scroll 10px 0 transparent;
  width: 186px;
  height: 50px;
}

/* --------------------------------------------------
// Nav Main Central Buttons
-------------------------------------------------- */
.nav-mainbtn > li {
  border-right:1px solid #E5E5EB;
}
.navbar .nav.nav-mainbtn li a {
  color: #C7C7CC;
  float: left;
  font-size: 16px;
  margin: auto;
  height: 49px;
  font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 14px 16px 0px 16px;
} 
.navbar .nav.nav-mainbtn .active a,
.navbar .nav.nav-mainbtn a:hover {
  color: #333;
  background-color: #f6f6f6;
}
.nav-mainbtn i {
  display: inline-block;
  vertical-align: -20px;
  width: 50px;
  margin: -25px -4px 0px -10px;
  height: 50px;
}


/* --------------------------------------------------
// Nav Pull Right Btns
-------------------------------------------------- */
.nav.navbar-right > li > a,
.nav.navbar-right > li > a:hover,
.nav.navbar-right > li > a:focus {
  padding: 0px;
}
.nav.navbar-right li:last-child a {
}
.nav.navbar-right li a.nav-btn i {
  display: inline-block;
  vertical-align: -20px;
  width: 50px;
  height: 49px;
}
.nav.navbar-right li a:hover {
  background-color: #efefef;
}


/* --------------------------------------------------
// Notificaciones del header
-------------------------------------------------- */

.dropdown-menu.notifications.arrow-right-img::after{right: 22px;}

.navbar-nav.navbar-right > li > .dropdown-menu.notifications{
  width: 420px;
  right: -1px;
  margin-top:-1px;
  h1{
    color:$orange;
    font-size: 16px;
    border-bottom:1px solid #ccc;
    font-family: HelveticaRoman;
    padding:0 0 15px 20px;
    margin-bottom: 0;
  }
  .cont-notifications{
    height: 220px;
    position: relative;
    overflow: hidden;
  }
  .item{
    padding: 10px 0 10px 50px;
    border-top:1px solid #ccc;

    &:first-child{border-top:0;}

    h2{
      font-size: 14px;
      font-family: HelveticaRoman;
      margin:0;
      color:$gray4;
    }
    .left{
      margin:0 5px 20px 0;
    }
    .text{
      color:$gray10;
      display: block;
    }
    .time{
      color:$gray4;
      font-size: 12px;
      display: block;
    }
  }
.cont-button{
  border-top:1px solid #ccc;
  button{
    margin:10px auto 5px auto;
    display: block;
  }
}
  .item.event{
    .name{color:$violet;}
  }
  .item.message{
    .name{color:$green2;}
  }
  .item.task{
    .name{color:$red;}
  }
}