/* --------------------------------------------------
// Helpers
-------------------------------------------------- */
.alpha{padding-left: 0;}
.omega{padding-right: 0;}
.right{float: right;}
.left{float: left;}

.clearmargin {margin:0;}

.margintop {margin-top:20px;}
.margintop40 {margin-top:40px;}
.margintop60 {margin-top:60px;}

.pleft25{padding-left:25px;}

.small1, .small2 {line-height:1.5;}

.txt-center {text-align:center;}
.txt-right {text-align:right;}
.txt-left {text-align:left;}