$orange:#e86823;
$black:#000;
$dark:#333;
$gray1:#595959;
$gray2:#dbdbdb;
$gray3:#f5f5f5;
$gray4:#a1a1a5;
$gray5:#ebebeb;
$gray6:#f7f7f7;
$gray7:#b3b3b3;
$gray8:#8c8c8c;
$gray9:#666;
$blue:#2568fa;
$green:#47d97f;

.white {color: #FFF;}
.gray1 {color: #F2F2F2;}
.gray2 {color: $gray7;}
.gray3 {color: $gray8;}
.gray4 {color: #666;}
.gray5 {color: #3D3D3D;}
.black {color:#000;}
.whitebg {background-color:#fff;}
.blackbg {background-color:#000;}

.orange {color:$orange;}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@import 'icons';
@import 'helpers';
@import 'buttons';
@import 'animations';


@font-face {
  font-family: HelveticaHv;
  src: url(../fonts/HelveticaNeueLTStd-Hv.otf);
}
@font-face {
  font-family: HelveticaMd;
  src: url(../fonts/HelveticaNeueLTStd-Md.otf);
}
@font-face {
  font-family: HelveticaRoman;
  src: url(../fonts/HelveticaNeueLTStd-Roman.otf);
}
@font-face {
  font-family: HelveticaLt;
  src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
}


html,body{height: 100%;}

body {
  font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 100px;
  color: #000;
  overflow-y:scroll;
}
.wrapper{
  min-height: 100%;
  // equal to footer height - footer's margin-top
  margin-bottom: -92px;
}
.wrapper:after {
  content: "";
  display: block;
}
.page-wrap:after,footer{
  height: 62px;
}

p {
  font-size:14px;
  line-height:1.6;
}
ul{list-style: none;}

input{outline: none;}

h1,h2,h3,h4, .title3{
  line-height:1.2;
  font-family: HelveticaHv, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h5,h6{line-height:1.6;}
h2, h3, h5, h6 {
  font-weight:normal;
  text-transform:none;
}

h1{font-size:58px;line-height:1;}
h2{font-size:42px;}
h3, .title3 {font-size:30px;}
h4{font-size:22px;}
h5{font-size:18px;font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;}
h6{font-size:15px;}

.small1 {font-size: 12px;}
.small2 {font-size: 11px;}

h1.primary{
  line-height: 1;
  font-size: 30px;
  font-family: HelveticaHv, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1.secondary{
  font-size: 22px;
  font-family: HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2.primary{
  line-height: 1;
  font-size: 30px;
  font-family: HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top:0;
}

.titles-index{
  width: 810px;
  margin:0 auto;
  position: relative;

  .view-mode {
    width: 78px;
    position: absolute;
    top:42px;
    right:-22px;
  }
}

/* --------------------------------------------------
// navbar
-------------------------------------------------- */

.navbar .nav {
  font-size: 18px;
}
.navbar .nav > li > a {
  padding:0;
}
.navbar .nav > li  {
  padding: 18px 15px 15px;
  border-left: 1px solid #ccc;
}
.navbar .brand {
  padding: 14px 20px;
}

/* --------------------------------------------------
// Footer
-------------------------------------------------- */
footer {
  background-color: $gray3;
  border: 0 none;
  padding: 25px 0 20px;
  margin-top: 30px;
}


/* --------------------------------------------------
// View Mode: List View
-------------------------------------------------- */

.lv-icon {
  height: 46px;
  width: 46px;
  padding: 6px;
  float: left;
  margin-right: 5px;
}
.lv-container{
  margin:0;
  padding:0;

  .subject-item {
    position: relative;
  }
  .title3 {
    padding: 5px 0 0 55px;
    cursor: pointer;
    i {margin: 0 7px 0 0;}
  }
  .small1 {
    margin-top: -25px;
    position: absolute;
    right: 0;
  }
}

.lv-lvlone {
  margin-left:30px;

  li {
    border-top: 1px solid #ccc;
    padding: 13px 0 7px 38px;
    cursor:pointer;

    &:last-child {
      border-bottom: 1px solid #ccc;
    }
    i {
      //margin: -2px 3px 0 0;
    }
  }
}

.lp-node {
  position: absolute;
  margin: -3px 0 0 -33px;

  canvas {
    position: absolute;
    z-index: 999;
  }
}
.lp-bar-prev{
  position: absolute;
  background-color: #ccc;
  width: 3px;
  height: 13px;
  margin: -10px 0 0 11px;
}
.eg-multimenu{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 465px;
  height: 100%;
  margin-left: 5px;
  float: left;
  padding: 20px 0 0;
  ul{
    li:first-child .lp-bar-prev {display: none;}
    li:last-child .lp-bar-post {display: none;}
  }
  li{
    a {font-size: 15px;}
    a:hover {
      text-decoration: none;
      background-color: #1f1f1f;
    }
  }
}

.lp-bar-post{
  position: absolute;
  background-color: #ccc;
  width: 3px;
  height: 8px;
  margin: 22px 0 0 11px;
}
.lp-bar-prev.viewed, .lp-bar-post.viewed {
  background-color: #fff;
}
.lp-time {
  float: right;
  color: #aaa;
}


.subject-item {
  margin-bottom: 20px;
  cursor: pointer;

  .lv-lvlone li:first-child .lvl-btn .lp-bar-prev,
  .lv-lvlone li:last-child .lvl-btn .lp-bar-post {
    display: none;
  }
  .lv-lvlone .lp-bar-prev,
  .lv-lvlone .lp-bar-post {
    background-color: #ccc;
  }
  .lv-lvlone .lp-bar-prev.viewed,
  .lv-lvlone .lp-bar-post.viewed {
    background-color: #F76E26;
  }
  .desc-subject{margin-top:6px;}
}

.lv-lvltwo {
  padding: 9px 0 0 0;

  li:last-child {
    border-bottom: none;
  }
}

.subject-item .lv-lvltwo li:last-child .lp-bar-post {
  display: none;
}

/* --------------------------------------------------
// List View Subjects
-------------------------------------------------- */
.lvs-biology {background-color: #008A5E;}
.lvs-fisics {background-color: #DB0962;}
.lvs-grammar {background-color: #7AC143;}
.lvs-history {background-color: #B5121B;}
.lvs-live {background-color: #5A4099;}
.lvs-maths {background-color: #273691;}
.lvs-reasoning {background-color: #00ACA1;}
.lvs-simulation {background-color: #F76E26;}
.lvs-socialcs {background-color: #11175E;}

/* --------------------------------------------------
// Unit View
-------------------------------------------------- */
.unit-view {
  border-top: 10px solid #008A5E;
  margin-top: -47px;

  h3{
    i{margin-right: 10px;}
    span{
      float: right;
      font-size: 12px;
      font-family:HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 50px;
    }
  }
}
.unit-hd {
  position: relative;

  .small1 {
    margin-top: -25px;
    position: absolute;
    right: 0;
  }
  .title3 {
    padding: 12px 0 0 55px;
  }

}

.unit-container {
  padding: 0 0 0 70px;

  p{color:$gray9;}

  .lv-container {
    border-bottom: 1px solid #dedede;
  }
  .subject-item {
    border-top: 1px solid #dedede;
    padding: 15px 0 9px;
    margin-bottom: 0;
  }
  .lv-lvlone{margin-bottom: 20px;}
}
.unit-time {
  float: right;
  margin-top: -24px;
}
.unit-tooltip {
  position: absolute;
  padding: 5px 0;
  margin-top: -21px;

  div {
    height: 1px;
    background-color: #F76E26;
  }
}

.unit-list{
  .panel-group{
    margin-left: 65px;

    .panel-heading{
      padding: 0;
      border-top:1px solid #ccc;

      .unit-tooltip {
        position: absolute;
        padding: 5px 0;
        margin-top: -6px;

        div {
          height: 1px;
          background-color: #F76E26;
        }
      }
      h5{
        a{color:#000;}
        span{
          font-size: 14px;
        }
      }
    }

    .panel-body{
      padding:0;
      p{color:$gray9;}
    }
  }
}//unit-list
/* --------------------------------------------------
// Subject Button Box Menu - Homepage
-------------------------------------------------- */

.subject-buttonbox{
  width: 246px;
  height: 246px;
  background-color: #ccc;
  position: relative;
  padding-top: 20px;

  .subject-title {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }

  h2{
    font-size:22px;
    font-family: HelveticaMd;
    margin:0;
  }
  h3{
    margin-top:0;
    font-size: 12px;
    line-height:1.5;
    font-family: HelveticaLt;
  }
}

.pbar-circle {
  opacity:0.6;
  filter:alpha(opacity=60);
}

/* --------------------------------------------------
// Lecciones
-------------------------------------------------- */
.head-lesson{
  h5{
    color:$gray8;
    font-size: 14px;
  }
  h3{margin:0;}
}

.learning-path{
  background-color: #1F1F1F;
  border-top: 10px solid #DB0962;
  margin-top: 10px;
}

.path-steps{
  background-color: #333333;
  padding: 20px 0 10px;
  color:$gray8;

  ul{
    padding: 0 0 10px 0;
    li{
      border-bottom: 1px solid #1F1F1F;
      a{
        display: block;
        padding: 9px 5px 5px 25px;
        text-decoration: none;
        &:hover{color: #fff;}
      }
      .lp-node{
        position:relative;
        margin-left:-20px;
      }
      .unit{margin-left: 10px;}
     &:hover{background-color: #444;}
    }
  }

  .active {
    background-color: #1F1F1F;
    color:#fff;
  }
}

.path-content{
  padding: 50px 0 20px 20px;

  h3{
    color:#fff;
    font-size:30px;
    margin-top:0;
  }
  p{
    color:$gray7;
    margin-bottom: 20px;
  }
  .cont-button{
    text-align: right;
    margin:20px 0;
    .btn{
      text-shadow: none;
      font-weight: 600;
    }
  }
}

.notes{
  input {
    padding: 10px 6px;
    font-size: 16px;
  }
  ul {
    border-top: 1px dashed #666;
    margin-top: 10px;
    padding: 0;

    li {
      padding: 15px 0 10px;
      border-bottom: 1px dashed #aaa;

      .date{
        font-size: 12px;
        color:$gray7;
      }
    }
  }
}

aside{
  .credits{margin-top:40px;}
  p{
    font-size: 12px;
    color:$gray8;
  }
}

div[class^="subject-"]{
  transition:all 0.1s ease-in-out;
}
.subject-biology {
  background: url("../../img/subject-icons/subject-icn-biology.png") no-repeat scroll center 48px #008A5E;
}
.subject-grid a:hover .subject-biology {
  background: url("../../img/subject-icons/subject-icn-biology.png") no-repeat scroll center 48px #009968;
}
.subject-fisics {
  background: url("../../img/subject-icons/subject-icn-fisics.png") no-repeat scroll center 48px #DB0962;
}
.subject-grid a:hover .subject-fisics {
  background: url("../../img/subject-icons/subject-icn-fisics.png") no-repeat scroll center 48px #E51783;
}
.subject-grammar {
  background: url("../../img/subject-icons/subject-icn-grammar.png") no-repeat scroll center 48px #7AC143;
}
.subject-grid a:hover .subject-grammar {
  background: url("../../img/subject-icons/subject-icn-grammar.png") no-repeat scroll center 48px #8ACC52;
}
.subject-history {
  background: url("../../img/subject-icons/subject-icn-history.png") no-repeat scroll center 48px #B5121B;
}
.subject-grid a:hover .subject-history {
  background: url("../../img/subject-icons/subject-icn-history.png") no-repeat scroll center 48px #CC1729;
}
.subject-live {
  background: url("../../img/subject-icons/subject-icn-live.png") no-repeat scroll center 48px #5A4099;
}
.subject-grid a:hover .subject-live {
  background: url("../../img/subject-icons/subject-icn-live.png") no-repeat scroll center 48px #654BB2;
}
.subject-maths {
  background: url("../../img/subject-icons/subject-icn-maths.png") no-repeat scroll center 48px #273691;
}
.subject-grid a:hover .subject-maths {
  background: url("../../img/subject-icons/subject-icn-maths.png") no-repeat scroll center 48px #2B4099;
}
.subject-reasoning {
  background: url("../../img/subject-icons/subject-icn-reasoning.png") no-repeat scroll center 48px #00ACA1;
}
.subject-grid a:hover .subject-reasoning {
  background: url("../../img/subject-icons/subject-icn-reasoning.png") no-repeat scroll center 48px #00B2A1;
}
.subject-simulation {
  background: url("../../img/subject-icons/subject-icn-simulation.png") no-repeat scroll center 48px #F76E26;
}
.subject-grid a:hover .subject-simulation {
  background: url("../../img/subject-icons/subject-icn-simulation.png") no-repeat scroll center 48px #FF7B36;
}
.subject-socialcs {
  background: url("../../img/subject-icons/subject-icn-socialcs.png") no-repeat scroll center 48px #11175E;
}
.subject-grid a:hover .subject-socialcs {
  background: url("../../img/subject-icons/subject-icn-socialcs.png") no-repeat scroll center 48px #18257F;
}
/* --------------------------------------------------
// Messages
-------------------------------------------------- */
// header
.nav-message{
  background: #fff;
  .navbar-header .nav-pills > li{
    border:0;
    padding: 10px 15px 10px;
  }

  .nav-messages{
    li{
      height: 49px;
      display: inline-block;
      border-left: 1px solid #ccc;
      padding: 12px 15px 12px !important;

      i{margin-right: 8px;}
    }
  }

  .navbar-default .navbar-nav > li > a{
    color:#d0d0d0;
    font-size: 17px;
  }
  .navbar-default{
    background: #fff;
  }
  .navbar-right > li{
    height: 49px;
    padding: 10px 10px 18px 10px !important;
  }
  .navbar-right li:last-child{
    padding-bottom:0 !important;
  }
  .navbar-right .counter{
    background: $orange;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    padding:2px 4px;
    position: absolute;
    top:0px;
    right:-5px;
    line-height: 1;
  }
}// .nav-message


.head-message{
  h1{margin-top:0;}
  .ico-messages{margin-right: 10px;}
}

// content
.full-back-messages{
  background: $gray3;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0 1px 0 #fff,inset 0 -1px 0 #fff;
  padding:10px 0;

  .container-messages{
    background-color:$gray3;
    margin-top:2px;

    .input-prepend{
      width: 97%;
      border:1px solid $gray2;
      background: #fff;
      margin-bottom: 5px;

      .add-on{padding:4px 2px 4px 8px;}
      input{
        //width: 90%;
        border: 0;
        box-shadow: none;
        font-size: 12px;
        padding: 7px 0 6px 0;
      }
    }

    .cont-inboxes{
      width: 100%;
      height: 649px;
      overflow: hidden;
      position: relative;
      -webkit-transform: translatez(0);
      transform: translatez(0);
    }

    .inbox{
      width: 97%;
      border:1px solid $gray2;
      border-top: 0;
      background: #fff;
      display: block;
      padding:10px;
      position: relative;
      transition: all 0.1s  ease-in-out;

      &:first-child{border:1px solid $gray2;}

      .cont-chat{
        width: 50px;
        display: inline-block;
      }
      .cont-chat i{vertical-align:baseline;}
      .cont-text{
        display: inline-block;
        margin-left: 5px;
      }
      .name{
        color:#242424;
        font-size: 13px;
        margin:3px 0 0 0;
      }
      .abstract{
        font-size: 12px;
        color: $gray1;
        font-weight: normal;
        margin:5px 0 0 0;
      }
      .time{
        font-size: 11px;
        color: $gray4;
        margin:5px 0 0 0;
      }

      &:hover{
        background: #d8e4fe;
        text-decoration: none;
      }

      &.active{
        background: $blue;
        border-color:#f5f5f5 $blue;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
      }
      &.active:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 32px;
        right: -8px;
        border-style: solid;
        border-width: 8px 0px 8px 8px;
        border-color: transparent inherit;
        z-index: 99999;
      }

      &.active span{color: #fff;}
      &.active span.time{color:$black;}

    } // inbox

    .connected{
      width: 8px;
      height: 8px;
      background: $green;
      border-radius: 10px;
      display: inline-block;
    }

    .chat{
      margin-top:-45px;

      .head-message{
        padding: 15px 10px;
        background:$gray1;

        .ico-add-friend-hover{margin-top:-6px;}
        .ico-settings-hover{margin-top:-7px;}
        h1{
          font-size: 16px;
          color: #fff;
          margin:0 0 0 10px;
          display: inline-block;
        }
        .dropdown{
          display: inline-block;
          margin:-2px 10px;
        }
      }// head-message

      .body-message{
        width: 100%;
        height: 591px;
        overflow:hidden;
        position: relative;
        background: #fff;
        border:1px solid $gray2;
        padding-top:5px;

        .loading{
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(255,255,255,0.7);
          z-index: 9999;
          display: none;
          .content{
            width: 80px;
            height: 60px;
            margin:260px auto 0 auto;
            img{margin-left:17px;}
          }
          -webkit-transform: translatez(0);
          transform: translatez(0);
        }

        .cont-scroll{
          width: 100%;
          height: 580px;
          overflow: hidden;
          position: absolute;
        }

        .border-bottom{
          width:100%;
          height: 5px;
          background: $gray5;
          position: absolute;
          bottom: 0;
        }

        .sep-date{
          text-align: center;
          margin: 10px;
          border-top:1px solid $gray2;
          span{
            color:$gray4;
            background: #fff;
            display: inline-table;
            margin-top:-12px;
            font-size: 10px;
            padding:0 7px;
          }
        }
        .each-message{
          clear: both;
          margin:10px 0;

          .chat-box{
            background: $gray6;
            border:1px solid $gray2;
            box-shadow: inset 0 1px 1px #fff;
            padding: 10px;
            position: relative;
            margin: 0 25px 0 25px;

            &.out:before{
              width: 7px;
              height: 13px;
              content: '';
              display: inline-block;
              background: url("../../img/sprite.png") no-repeat -92px -29px;
              position: absolute;
              top: 10px;
              right: -7px;
            }
            &.in:before{
              width: 7px;
              height: 13px;
              content: '';
              display: inline-block;
              background: url("../../img/sprite.png") no-repeat -85px -29px;
              position: absolute;
              top: 10px;
              left: -7px;
            }
            &.in{float: left;}
            &.out{float: right;}
          }//chat-box

          &.in{
            .time{
              float: left;
              margin-left:25px;
            }
          }
          &.out{
            .time{
              float: right;
              margin-right: 25px;
            }
          }
          .time{
            height: 20px;
            font-size: 10px;
            color:$gray4;
            clear: both;
            margin:5px 0 20px 0;
          }

        }//each-message

      }// body-message

      .send-message{
        border:1px solid $gray2;
        box-shadow: inset 0 1px 0px #fff, inset 0 -1px 0 #fff;
        background: $gray6;
        padding:20px;

        .cont-inputs{
          background: #fff;
          border:1px solid $gray2;
          padding: 8px 10px;

          input[type=text]{
            //width: 610px;
            width: 459px;
            padding: 5px;
            color: $gray4;
            border:0;
          }
        }
      }

    } // chat

  }// container-messages
}// full-back-messages


.list-subjects{
  width: 810px;
  margin:40px auto 0 auto;
  .title3{margin:0;}
}

.subject-grid{
  width: 811px;
  margin:20px auto;
  color:#fff;
}

.accordion-index{
  width: 810px;
  border:0;

  .btn-subject{
    display: inline-block;
    position: relative;

    .arrow{
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #333;
      position: absolute;
      bottom: -15px;
      left: 110px;
      display: none;
    }

  }
  .middle{margin:15px 30px;}

  a{color:#fff;}
  .detail-subject{
    background: #333;
    padding: 0;

    .left{
      padding:20px;
      h3{margin:-7px 0 0 0;}
      h5{color:$gray7;margin:0;}
      .abstract{
        color:#888;
        line-height:1.5;
        font-size: 12px;
        margin:10px 0 20px 0;
      }

      .cont-icon{
        width: 59px;
        height: 59px;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        padding:7px;
        background-color: #000;
        margin: 0 10px 0 0;
      }
    }//left

    .right{
      border:0;
      //margin-left: 45px;
      padding: 19px 0 0;

      h3{
        font-size: 15px;
        border-bottom: 1px solid #000;
        margin: 0;
        padding-bottom: 5px;
        a{
          color:#fff;
          margin-left: 42px;
          font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      }

      ul{
        padding-left:0;
        margin-bottom: 0;
      }
      li{
        border-bottom: 1px solid #000;
        padding: 9px 10px 9px 5px;

       .lp-bar-prev{margin: -10px 0 0 11px;}
       .lp-node{margin-left: 5px;}
      }
      li:hover {
        background-color: #1f1f1f;
      }
      li a {
        font-size: 15px;
        color:#fff;
        display: block;

        .lesson{margin-left: 37px;}
      }
    }//right
  }
}//accordion-index