.white {
  color: #FFF; }

.gray1 {
  color: #F2F2F2; }

.gray2 {
  color: #b3b3b3; }

.gray3 {
  color: #8c8c8c; }

.gray4 {
  color: #666; }

.gray5 {
  color: #3D3D3D; }

.black {
  color: #000; }

.whitebg {
  background-color: #fff; }

.blackbg {
  background-color: #000; }

.orange {
  color: #e86823; }

.spr {
  background: url("../../img/sprite.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translatez(0);
  transform: translatez(0); }

i[class$="-hover"] {
  transition: all 0.1s ease-in-out;
  opacity: 0; }

.ico-menu, .ico-menu-hover {
  width: 22px;
  height: 17px; }

.ico-menu {
  background-position: 0 0; }

.ico-menu-hover {
  background-position: -58px 0;
  margin-top: -11px; }

.ico-menu:hover > .ico-menu-hover {
  opacity: 1; }

.ico-subjects, .ico-subjects-hover {
  width: 32px;
  height: 24px; }

.ico-subjects {
  background-position: 0 -29px; }

.ico-subjects-hover {
  background-position: -35px -29px; }

.a-subjects:hover > .ico-subjects > .ico-subjects-hover {
  opacity: 1; }

.ico-instruments, .ico-instruments-hover {
  width: 25px;
  height: 24px; }

.ico-instruments {
  background-position: -2px -59px; }

.ico-instruments-hover {
  background-position: -30px -59px; }

.a-instruments:hover > .ico-instruments > .ico-instruments-hover {
  opacity: 1; }

.ico-pin, .ico-pin-hover, .ico-search, .ico-search-hover, .ico-user, .ico-user-hover {
  width: 33px;
  height: 32px; }

.ico-pin {
  background-position: -234px -86px; }

.ico-pin-hover {
  background-position: -234px -119px; }

.ico-search {
  background-position: -266px -86px; }

.ico-search-hover {
  background-position: -266px -119px; }

.ico-user {
  background-position: -301px -86px; }

.ico-user-hover {
  background-position: -301px -119px; }

.ico-pin:hover > .ico-pin-hover {
  opacity: 1; }

.ico-search:hover > .ico-search-hover {
  opacity: 1; }

.ico-messages {
  width: 31px;
  height: 27px;
  background-position: -201px -90px; }

.ico-new-message {
  width: 18px;
  height: 17px;
  background-position: -44px -86px; }

.ico-message, .ico-message-hover {
  width: 20px;
  height: 19px; }

.ico-message {
  background-position: 0 -86px; }

.ico-message-hover {
  background-position: -21px -86px;
  margin-top: -4px; }

.ico-arrow-down, .ico-arrow-down-hover {
  width: 13px;
  height: 7px; }

.ico-arrow-down {
  background-position: -73px -47px; }

.ico-arrow-down-hover {
  background-position: -88px -47px;
  margin-left: -18px; }

.a-arrow:hover > .ico-arrow-down-hover {
  opacity: 1; }

.a-arrow:hover > .ico-user > .ico-user-hover {
  opacity: 1; }

.btn-arrow-left {
  width: 13px;
  height: 7px;
  background-position: -88px -47px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

.btn-arrow-right {
  width: 13px;
  height: 7px;
  background-position: -88px -47px;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); }

.ico-chat {
  width: 50px;
  height: 50px;
  background-position: 0 -119px; }

.ico-add-friend, .ico-add-friend-hover {
  width: 23px;
  height: 17px; }

.ico-add-friend {
  background-position: -142px -61px; }

.ico-add-friend-hover {
  background-position: -142px -82px; }

.ico-add-friend:hover > .ico-add-friend-hover {
  opacity: 1; }

.ico-settings, .ico-settings-hover {
  width: 16px;
  height: 16px; }

.ico-settings {
  background-position: -115px -62px; }

.ico-settings-hover {
  background-position: -115px -82px; }

.ico-settings:hover > .ico-settings-hover {
  opacity: 1; }

.ico-arrow-right, .ico-arrow-left {
  width: 8px;
  height: 13px; }

.ico-arrow-right {
  background-position: -85px -62px;
  transition: all 0.2s  ease-in-out; }

.ico-arrow-right.active {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: all 0.2s  ease-in; }

.ico-arrow-left {
  background-position: -74px -62px; }

.vm-grid, .vm-list, .vm-grid-hover, .vm-list-hover {
  width: 24px;
  height: 24px; }

.vm-grid {
  background-position: -115px 0; }

.vm-grid-hover {
  background-position: -146px 0;
  opacity: 0;
  transition: all 0.1s ease-in-out; }

.vm-grid.active, .vm-grid.active:hover {
  background-position: -177px 0; }

.vm-grid:hover > .vm-grid-hover {
  opacity: 1; }

.vm-grid.active:hover > .vm-grid-hover {
  opacity: 0; }

.vm-list {
  background-position: -115px -30px; }

.vm-list-hover {
  background-position: -146px -30px;
  opacity: 0;
  transition: all 0.1s ease-in-out; }

.vm-list.active, .vm-list.active:hover {
  background-position: -177px -30px; }

.vm-list:hover > .vm-list-hover {
  opacity: 1; }

.vm-list.active:hover > .vm-list-hover {
  opacity: 0; }

.ico-facebook, .ico-twitter, .ico-googleplus, .ico-facebook-hover, .ico-twitter-hover, .ico-googleplus-hover {
  width: 42px;
  height: 42px; }

.ico-facebook-hover, .ico-twitter-hover, .ico-googleplus-hover {
  transition: all 0.1s ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0); }

.ico-facebook {
  background-position: -206px 0; }

.ico-facebook-hover {
  background-position: -206px -43px; }

.ico-facebook:hover > .ico-facebook-hover {
  opacity: 1;
  filter: alpha(opacity=100); }

.ico-twitter {
  background-position: -292px 0; }

.ico-twitter-hover {
  background-position: -292px -43px; }

.ico-twitter:hover > .ico-twitter-hover {
  opacity: 1;
  filter: alpha(opacity=100); }

.ico-googleplus {
  background-position: -249px 0; }

.ico-googleplus-hover {
  background-position: -249px -43px; }

.ico-googleplus:hover > .ico-googleplus-hover {
  opacity: 1;
  filter: alpha(opacity=100); }

.ico-calendar {
  width: 30px;
  height: 29px;
  background-position: -67px -91px; }

.ico-arrow-list {
  width: 5px;
  height: 6px;
  background-position: -100px -73px; }

.alpha {
  padding-left: 0; }

.omega {
  padding-right: 0; }

.right {
  float: right; }

.left {
  float: left; }

.clearmargin {
  margin: 0; }

.margintop {
  margin-top: 20px; }

.margintop40 {
  margin-top: 40px; }

.margintop60 {
  margin-top: 60px; }

.pleft25 {
  padding-left: 25px; }

.small1, .small2 {
  line-height: 1.5; }

.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

.txt-left {
  text-align: left; }

.btn-gray {
  background-color: #dbdbdb;
  text-align: center;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  transition: all 0.1s  ease-in-out;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .btn-gray:hover {
    background-color: #a1a1a5; }

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px); } }

@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px); } }

@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px); } }

@keyframes shake {
  0%, 100% {
    transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    transform: translateX(10px); } }

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake; }

@font-face {
  font-family: HelveticaHv;
  src: url(../fonts/HelveticaNeueLTStd-Hv.otf); }

@font-face {
  font-family: HelveticaMd;
  src: url(../fonts/HelveticaNeueLTStd-Md.otf); }

@font-face {
  font-family: HelveticaRoman;
  src: url(../fonts/HelveticaNeueLTStd-Roman.otf); }

@font-face {
  font-family: HelveticaLt;
  src: url(../fonts/HelveticaNeueLTStd-Lt.otf); }

html, body {
  height: 100%; }

body {
  font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 100px;
  color: #000;
  overflow-y: scroll; }

.wrapper {
  min-height: 100%;
  margin-bottom: -92px; }

.wrapper:after {
  content: "";
  display: block; }

.page-wrap:after, footer {
  height: 62px; }

p {
  font-size: 14px;
  line-height: 1.6; }

ul {
  list-style: none; }

input {
  outline: none; }

h1, h2, h3, h4, .title3 {
  line-height: 1.2;
  font-family: HelveticaHv, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h5, h6 {
  line-height: 1.6; }

h2, h3, h5, h6 {
  font-weight: normal;
  text-transform: none; }

h1 {
  font-size: 58px;
  line-height: 1; }

h2 {
  font-size: 42px; }

h3, .title3 {
  font-size: 30px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px;
  font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h6 {
  font-size: 15px; }

.small1 {
  font-size: 12px; }

.small2 {
  font-size: 11px; }

h1.primary {
  line-height: 1;
  font-size: 30px;
  font-family: HelveticaHv, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1.secondary {
  font-size: 22px;
  font-family: HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h2.primary {
  line-height: 1;
  font-size: 30px;
  font-family: HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0; }

.titles-index {
  width: 810px;
  margin: 0 auto;
  position: relative; }
  .titles-index .view-mode {
    width: 78px;
    position: absolute;
    top: 42px;
    right: -22px; }

.navbar .nav {
  font-size: 18px; }

.navbar .nav > li > a {
  padding: 0; }

.navbar .nav > li {
  padding: 18px 15px 15px;
  border-left: 1px solid #ccc; }

.navbar .brand {
  padding: 14px 20px; }

footer {
  background-color: whitesmoke;
  border: 0 none;
  padding: 25px 0 20px;
  margin-top: 30px; }

.lv-icon {
  height: 46px;
  width: 46px;
  padding: 6px;
  float: left;
  margin-right: 5px; }

.lv-container {
  margin: 0;
  padding: 0; }
  .lv-container .subject-item {
    position: relative; }
  .lv-container .title3 {
    padding: 5px 0 0 55px;
    cursor: pointer; }
    .lv-container .title3 i {
      margin: 0 7px 0 0; }
  .lv-container .small1 {
    margin-top: -25px;
    position: absolute;
    right: 0; }

.lv-lvlone {
  margin-left: 30px; }
  .lv-lvlone li {
    border-top: 1px solid #ccc;
    padding: 13px 0 7px 38px;
    cursor: pointer; }
    .lv-lvlone li:last-child {
      border-bottom: 1px solid #ccc; }

.lp-node {
  position: absolute;
  margin: -3px 0 0 -33px; }
  .lp-node canvas {
    position: absolute;
    z-index: 999; }

.lp-bar-prev {
  position: absolute;
  background-color: #ccc;
  width: 3px;
  height: 13px;
  margin: -10px 0 0 11px; }

.eg-multimenu {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 465px;
  height: 100%;
  margin-left: 5px;
  float: left;
  padding: 20px 0 0; }
  .eg-multimenu ul li:first-child .lp-bar-prev {
    display: none; }
  .eg-multimenu ul li:last-child .lp-bar-post {
    display: none; }
  .eg-multimenu li a {
    font-size: 15px; }
  .eg-multimenu li a:hover {
    text-decoration: none;
    background-color: #1f1f1f; }

.lp-bar-post {
  position: absolute;
  background-color: #ccc;
  width: 3px;
  height: 8px;
  margin: 22px 0 0 11px; }

.lp-bar-prev.viewed, .lp-bar-post.viewed {
  background-color: #fff; }

.lp-time {
  float: right;
  color: #aaa; }

.subject-item {
  margin-bottom: 20px;
  cursor: pointer; }
  .subject-item .lv-lvlone li:first-child .lvl-btn .lp-bar-prev,
  .subject-item .lv-lvlone li:last-child .lvl-btn .lp-bar-post {
    display: none; }
  .subject-item .lv-lvlone .lp-bar-prev,
  .subject-item .lv-lvlone .lp-bar-post {
    background-color: #ccc; }
  .subject-item .lv-lvlone .lp-bar-prev.viewed,
  .subject-item .lv-lvlone .lp-bar-post.viewed {
    background-color: #F76E26; }
  .subject-item .desc-subject {
    margin-top: 6px; }

.lv-lvltwo {
  padding: 9px 0 0 0; }
  .lv-lvltwo li:last-child {
    border-bottom: none; }

.subject-item .lv-lvltwo li:last-child .lp-bar-post {
  display: none; }

.lvs-biology {
  background-color: #008A5E; }

.lvs-fisics {
  background-color: #DB0962; }

.lvs-grammar {
  background-color: #7AC143; }

.lvs-history {
  background-color: #B5121B; }

.lvs-live {
  background-color: #5A4099; }

.lvs-maths {
  background-color: #273691; }

.lvs-reasoning {
  background-color: #00ACA1; }

.lvs-simulation {
  background-color: #F76E26; }

.lvs-socialcs {
  background-color: #11175E; }

.unit-view {
  border-top: 10px solid #008A5E;
  margin-top: -47px; }
  .unit-view h3 i {
    margin-right: 10px; }
  .unit-view h3 span {
    float: right;
    font-size: 12px;
    font-family: HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 50px; }

.unit-hd {
  position: relative; }
  .unit-hd .small1 {
    margin-top: -25px;
    position: absolute;
    right: 0; }
  .unit-hd .title3 {
    padding: 12px 0 0 55px; }

.unit-container {
  padding: 0 0 0 70px; }
  .unit-container p {
    color: #666666; }
  .unit-container .lv-container {
    border-bottom: 1px solid #dedede; }
  .unit-container .subject-item {
    border-top: 1px solid #dedede;
    padding: 15px 0 9px;
    margin-bottom: 0; }
  .unit-container .lv-lvlone {
    margin-bottom: 20px; }

.unit-time {
  float: right;
  margin-top: -24px; }

.unit-tooltip {
  position: absolute;
  padding: 5px 0;
  margin-top: -21px; }
  .unit-tooltip div {
    height: 1px;
    background-color: #F76E26; }

.unit-list .panel-group {
  margin-left: 65px; }
  .unit-list .panel-group .panel-heading {
    padding: 0;
    border-top: 1px solid #ccc; }
    .unit-list .panel-group .panel-heading .unit-tooltip {
      position: absolute;
      padding: 5px 0;
      margin-top: -6px; }
      .unit-list .panel-group .panel-heading .unit-tooltip div {
        height: 1px;
        background-color: #F76E26; }
    .unit-list .panel-group .panel-heading h5 a {
      color: #000; }
    .unit-list .panel-group .panel-heading h5 span {
      font-size: 14px; }
  .unit-list .panel-group .panel-body {
    padding: 0; }
    .unit-list .panel-group .panel-body p {
      color: #666666; }

.subject-buttonbox {
  width: 246px;
  height: 246px;
  background-color: #ccc;
  position: relative;
  padding-top: 20px; }
  .subject-buttonbox .subject-title {
    position: absolute;
    bottom: 10px;
    width: 100%; }
  .subject-buttonbox h2 {
    font-size: 22px;
    font-family: HelveticaMd;
    margin: 0; }
  .subject-buttonbox h3 {
    margin-top: 0;
    font-size: 12px;
    line-height: 1.5;
    font-family: HelveticaLt; }

.pbar-circle {
  opacity: 0.6;
  filter: alpha(opacity=60); }

.head-lesson h5 {
  color: #8c8c8c;
  font-size: 14px; }
.head-lesson h3 {
  margin: 0; }

.learning-path {
  background-color: #1F1F1F;
  border-top: 10px solid #DB0962;
  margin-top: 10px; }

.path-steps {
  background-color: #333333;
  padding: 20px 0 10px;
  color: #8c8c8c; }
  .path-steps ul {
    padding: 0 0 10px 0; }
    .path-steps ul li {
      border-bottom: 1px solid #1F1F1F; }
      .path-steps ul li a {
        display: block;
        padding: 9px 5px 5px 25px;
        text-decoration: none; }
        .path-steps ul li a:hover {
          color: #fff; }
      .path-steps ul li .lp-node {
        position: relative;
        margin-left: -20px; }
      .path-steps ul li .unit {
        margin-left: 10px; }
      .path-steps ul li:hover {
        background-color: #444; }
  .path-steps .active {
    background-color: #1F1F1F;
    color: #fff; }

.path-content {
  padding: 50px 0 20px 20px; }
  .path-content h3 {
    color: #fff;
    font-size: 30px;
    margin-top: 0; }
  .path-content p {
    color: #b3b3b3;
    margin-bottom: 20px; }
  .path-content .cont-button {
    text-align: right;
    margin: 20px 0; }
    .path-content .cont-button .btn {
      text-shadow: none;
      font-weight: 600; }

.notes input {
  padding: 10px 6px;
  font-size: 16px; }
.notes ul {
  border-top: 1px dashed #666;
  margin-top: 10px;
  padding: 0; }
  .notes ul li {
    padding: 15px 0 10px;
    border-bottom: 1px dashed #aaa; }
    .notes ul li .date {
      font-size: 12px;
      color: #b3b3b3; }

aside .credits {
  margin-top: 40px; }
aside p {
  font-size: 12px;
  color: #8c8c8c; }

div[class^="subject-"] {
  transition: all 0.1s ease-in-out; }

.subject-biology {
  background: url("../../img/subject-icons/subject-icn-biology.png") no-repeat scroll center 48px #008a5e; }

.subject-grid a:hover .subject-biology {
  background: url("../../img/subject-icons/subject-icn-biology.png") no-repeat scroll center 48px #009968; }

.subject-fisics {
  background: url("../../img/subject-icons/subject-icn-fisics.png") no-repeat scroll center 48px #db0962; }

.subject-grid a:hover .subject-fisics {
  background: url("../../img/subject-icons/subject-icn-fisics.png") no-repeat scroll center 48px #e51783; }

.subject-grammar {
  background: url("../../img/subject-icons/subject-icn-grammar.png") no-repeat scroll center 48px #7ac143; }

.subject-grid a:hover .subject-grammar {
  background: url("../../img/subject-icons/subject-icn-grammar.png") no-repeat scroll center 48px #8acc52; }

.subject-history {
  background: url("../../img/subject-icons/subject-icn-history.png") no-repeat scroll center 48px #b5121b; }

.subject-grid a:hover .subject-history {
  background: url("../../img/subject-icons/subject-icn-history.png") no-repeat scroll center 48px #cc1729; }

.subject-live {
  background: url("../../img/subject-icons/subject-icn-live.png") no-repeat scroll center 48px #5a4099; }

.subject-grid a:hover .subject-live {
  background: url("../../img/subject-icons/subject-icn-live.png") no-repeat scroll center 48px #654bb2; }

.subject-maths {
  background: url("../../img/subject-icons/subject-icn-maths.png") no-repeat scroll center 48px #273691; }

.subject-grid a:hover .subject-maths {
  background: url("../../img/subject-icons/subject-icn-maths.png") no-repeat scroll center 48px #2b4099; }

.subject-reasoning {
  background: url("../../img/subject-icons/subject-icn-reasoning.png") no-repeat scroll center 48px #00aca1; }

.subject-grid a:hover .subject-reasoning {
  background: url("../../img/subject-icons/subject-icn-reasoning.png") no-repeat scroll center 48px #00b2a1; }

.subject-simulation {
  background: url("../../img/subject-icons/subject-icn-simulation.png") no-repeat scroll center 48px #f76e26; }

.subject-grid a:hover .subject-simulation {
  background: url("../../img/subject-icons/subject-icn-simulation.png") no-repeat scroll center 48px #ff7b36; }

.subject-socialcs {
  background: url("../../img/subject-icons/subject-icn-socialcs.png") no-repeat scroll center 48px #11175e; }

.subject-grid a:hover .subject-socialcs {
  background: url("../../img/subject-icons/subject-icn-socialcs.png") no-repeat scroll center 48px #18257f; }

.nav-message {
  background: #fff; }
  .nav-message .navbar-header .nav-pills > li {
    border: 0;
    padding: 10px 15px 10px; }
  .nav-message .nav-messages li {
    height: 49px;
    display: inline-block;
    border-left: 1px solid #ccc;
    padding: 12px 15px 12px !important; }
    .nav-message .nav-messages li i {
      margin-right: 8px; }
  .nav-message .navbar-default .navbar-nav > li > a {
    color: #d0d0d0;
    font-size: 17px; }
  .nav-message .navbar-default {
    background: #fff; }
  .nav-message .navbar-right > li {
    height: 49px;
    padding: 10px 10px 18px 10px !important; }
  .nav-message .navbar-right li:last-child {
    padding-bottom: 0 !important; }
  .nav-message .navbar-right .counter {
    background: #e86823;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 4px;
    position: absolute;
    top: 0px;
    right: -5px;
    line-height: 1; }

.head-message h1 {
  margin-top: 0; }
.head-message .ico-messages {
  margin-right: 10px; }

.full-back-messages {
  background: whitesmoke;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0 1px 0 #fff,inset 0 -1px 0 #fff;
  padding: 10px 0; }
  .full-back-messages .container-messages {
    background-color: whitesmoke;
    margin-top: 2px; }
    .full-back-messages .container-messages .input-prepend {
      width: 97%;
      border: 1px solid #dbdbdb;
      background: #fff;
      margin-bottom: 5px; }
      .full-back-messages .container-messages .input-prepend .add-on {
        padding: 4px 2px 4px 8px; }
      .full-back-messages .container-messages .input-prepend input {
        border: 0;
        box-shadow: none;
        font-size: 12px;
        padding: 7px 0 6px 0; }
    .full-back-messages .container-messages .cont-inboxes {
      width: 100%;
      height: 649px;
      overflow: hidden;
      position: relative;
      -webkit-transform: translatez(0);
      transform: translatez(0); }
    .full-back-messages .container-messages .inbox {
      width: 97%;
      border: 1px solid #dbdbdb;
      border-top: 0;
      background: #fff;
      display: block;
      padding: 10px;
      position: relative;
      transition: all 0.1s  ease-in-out; }
      .full-back-messages .container-messages .inbox:first-child {
        border: 1px solid #dbdbdb; }
      .full-back-messages .container-messages .inbox .cont-chat {
        width: 50px;
        display: inline-block; }
      .full-back-messages .container-messages .inbox .cont-chat i {
        vertical-align: baseline; }
      .full-back-messages .container-messages .inbox .cont-text {
        display: inline-block;
        margin-left: 5px; }
      .full-back-messages .container-messages .inbox .name {
        color: #242424;
        font-size: 13px;
        margin: 3px 0 0 0; }
      .full-back-messages .container-messages .inbox .abstract {
        font-size: 12px;
        color: #595959;
        font-weight: normal;
        margin: 5px 0 0 0; }
      .full-back-messages .container-messages .inbox .time {
        font-size: 11px;
        color: #a1a1a5;
        margin: 5px 0 0 0; }
      .full-back-messages .container-messages .inbox:hover {
        background: #d8e4fe;
        text-decoration: none; }
      .full-back-messages .container-messages .inbox.active {
        background: #2568fa;
        border-color: whitesmoke #2568fa;
        -webkit-transition: all .2s ease;
        transition: all .2s ease; }
      .full-back-messages .container-messages .inbox.active:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 32px;
        right: -8px;
        border-style: solid;
        border-width: 8px 0px 8px 8px;
        border-color: transparent inherit;
        z-index: 99999; }
      .full-back-messages .container-messages .inbox.active span {
        color: #fff; }
      .full-back-messages .container-messages .inbox.active span.time {
        color: black; }
    .full-back-messages .container-messages .connected {
      width: 8px;
      height: 8px;
      background: #47d97f;
      border-radius: 10px;
      display: inline-block; }
    .full-back-messages .container-messages .chat {
      margin-top: -45px; }
      .full-back-messages .container-messages .chat .head-message {
        padding: 15px 10px;
        background: #595959; }
        .full-back-messages .container-messages .chat .head-message .ico-add-friend-hover {
          margin-top: -6px; }
        .full-back-messages .container-messages .chat .head-message .ico-settings-hover {
          margin-top: -7px; }
        .full-back-messages .container-messages .chat .head-message h1 {
          font-size: 16px;
          color: #fff;
          margin: 0 0 0 10px;
          display: inline-block; }
        .full-back-messages .container-messages .chat .head-message .dropdown {
          display: inline-block;
          margin: -2px 10px; }
      .full-back-messages .container-messages .chat .body-message {
        width: 100%;
        height: 591px;
        overflow: hidden;
        position: relative;
        background: #fff;
        border: 1px solid #dbdbdb;
        padding-top: 5px; }
        .full-back-messages .container-messages .chat .body-message .loading {
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(255, 255, 255, 0.7);
          z-index: 9999;
          display: none;
          -webkit-transform: translatez(0);
          transform: translatez(0); }
          .full-back-messages .container-messages .chat .body-message .loading .content {
            width: 80px;
            height: 60px;
            margin: 260px auto 0 auto; }
            .full-back-messages .container-messages .chat .body-message .loading .content img {
              margin-left: 17px; }
        .full-back-messages .container-messages .chat .body-message .cont-scroll {
          width: 100%;
          height: 580px;
          overflow: hidden;
          position: absolute; }
        .full-back-messages .container-messages .chat .body-message .border-bottom {
          width: 100%;
          height: 5px;
          background: #ebebeb;
          position: absolute;
          bottom: 0; }
        .full-back-messages .container-messages .chat .body-message .sep-date {
          text-align: center;
          margin: 10px;
          border-top: 1px solid #dbdbdb; }
          .full-back-messages .container-messages .chat .body-message .sep-date span {
            color: #a1a1a5;
            background: #fff;
            display: inline-table;
            margin-top: -12px;
            font-size: 10px;
            padding: 0 7px; }
        .full-back-messages .container-messages .chat .body-message .each-message {
          clear: both;
          margin: 10px 0; }
          .full-back-messages .container-messages .chat .body-message .each-message .chat-box {
            background: #f7f7f7;
            border: 1px solid #dbdbdb;
            box-shadow: inset 0 1px 1px #fff;
            padding: 10px;
            position: relative;
            margin: 0 25px 0 25px; }
            .full-back-messages .container-messages .chat .body-message .each-message .chat-box.out:before {
              width: 7px;
              height: 13px;
              content: '';
              display: inline-block;
              background: url("../../img/sprite.png") no-repeat -92px -29px;
              position: absolute;
              top: 10px;
              right: -7px; }
            .full-back-messages .container-messages .chat .body-message .each-message .chat-box.in:before {
              width: 7px;
              height: 13px;
              content: '';
              display: inline-block;
              background: url("../../img/sprite.png") no-repeat -85px -29px;
              position: absolute;
              top: 10px;
              left: -7px; }
            .full-back-messages .container-messages .chat .body-message .each-message .chat-box.in {
              float: left; }
            .full-back-messages .container-messages .chat .body-message .each-message .chat-box.out {
              float: right; }
          .full-back-messages .container-messages .chat .body-message .each-message.in .time {
            float: left;
            margin-left: 25px; }
          .full-back-messages .container-messages .chat .body-message .each-message.out .time {
            float: right;
            margin-right: 25px; }
          .full-back-messages .container-messages .chat .body-message .each-message .time {
            height: 20px;
            font-size: 10px;
            color: #a1a1a5;
            clear: both;
            margin: 5px 0 20px 0; }
      .full-back-messages .container-messages .chat .send-message {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 1px 0px #fff, inset 0 -1px 0 #fff;
        background: #f7f7f7;
        padding: 20px; }
        .full-back-messages .container-messages .chat .send-message .cont-inputs {
          background: #fff;
          border: 1px solid #dbdbdb;
          padding: 8px 10px; }
          .full-back-messages .container-messages .chat .send-message .cont-inputs input[type=text] {
            width: 459px;
            padding: 5px;
            color: #a1a1a5;
            border: 0; }

.list-subjects {
  width: 810px;
  margin: 40px auto 0 auto; }
  .list-subjects .title3 {
    margin: 0; }

.subject-grid {
  width: 811px;
  margin: 20px auto;
  color: #fff; }

.accordion-index {
  width: 810px;
  border: 0; }
  .accordion-index .btn-subject {
    display: inline-block;
    position: relative; }
    .accordion-index .btn-subject .arrow {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #333;
      position: absolute;
      bottom: -15px;
      left: 110px;
      display: none; }
  .accordion-index .middle {
    margin: 15px 30px; }
  .accordion-index a {
    color: #fff; }
  .accordion-index .detail-subject {
    background: #333;
    padding: 0; }
    .accordion-index .detail-subject .left {
      padding: 20px; }
      .accordion-index .detail-subject .left h3 {
        margin: -7px 0 0 0; }
      .accordion-index .detail-subject .left h5 {
        color: #b3b3b3;
        margin: 0; }
      .accordion-index .detail-subject .left .abstract {
        color: #888;
        line-height: 1.5;
        font-size: 12px;
        margin: 10px 0 20px 0; }
      .accordion-index .detail-subject .left .cont-icon {
        width: 59px;
        height: 59px;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        padding: 7px;
        background-color: #000;
        margin: 0 10px 0 0; }
    .accordion-index .detail-subject .right {
      border: 0;
      padding: 19px 0 0; }
      .accordion-index .detail-subject .right h3 {
        font-size: 15px;
        border-bottom: 1px solid #000;
        margin: 0;
        padding-bottom: 5px; }
        .accordion-index .detail-subject .right h3 a {
          color: #fff;
          margin-left: 42px;
          font-family: HelveticaRoman, "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .accordion-index .detail-subject .right ul {
        padding-left: 0;
        margin-bottom: 0; }
      .accordion-index .detail-subject .right li {
        border-bottom: 1px solid #000;
        padding: 9px 10px 9px 5px; }
        .accordion-index .detail-subject .right li .lp-bar-prev {
          margin: -10px 0 0 11px; }
        .accordion-index .detail-subject .right li .lp-node {
          margin-left: 5px; }
      .accordion-index .detail-subject .right li:hover {
        background-color: #1f1f1f; }
      .accordion-index .detail-subject .right li a {
        font-size: 15px;
        color: #fff;
        display: block; }
        .accordion-index .detail-subject .right li a .lesson {
          margin-left: 37px; }
