.course li.lesson {
    color: blue;
}

.course li.chapter {
    color: gray;
}

.course li.resource {
    color: red;
}

.lesson_list, .chapter_list{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px 0px;
	font-family: HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.course-data-container{
	position: relative;
}

.subject-list, .subject-grid{
	display: none;
}

.subject-list.active, .subject-grid.active{
	display: block;
}



.main .subject-grid {
	margin-top: 20px;
	color: #fff;
}