.course li.lesson {
    color: blue;
}

.course li.chapter {
    color: gray;
}

.course li.resource {
    color: red;
}

.lesson_list, .chapter_list{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px 0px;
	font-family: HelveticaLt, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.course-data-container{
	position: relative;
}

.subject-list, .subject-grid{
	display: none;
}

.subject-list.active, .subject-grid.active{
	display: block;
}



.main .subject-grid {
	margin-top: 20px;
	color: #fff;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}